Find keywords from Job Description

In [4]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [42]:
# Load file
# df = pd.read_csv('glassdoor_jobs.csv')
# df = pd.read_csv('전국_평균_분양가격_2018.6월_.csv', encoding='euc-kr')
df = pd.read_csv('확인.csv')
df.head()

,no,????????1,????????2,??????,????,????.1
0,70203,?????????? 1????,??????????,64bit ?????????? Full SSD ??????,?????? .d?? ???? ???????????? ?? ????,??????????: padm php?? ?????? ???? ??????
1,70203,?????????? 3????,??????????,65bit ?????????? Full SSD ??????,???? ???? ????????,??????????: padm php?? ?????? ???? ??????
2,70204,?????????? 2????,??????????,64bit ?????????? Full SSD,???????? ??????????,??????????: padm php?? ?????? ???? ??????
3,70205,?????????? 1????,??????????,64bit ?????????? Full SSD ??????,??????????,??????????: padm php?? ?????? ???? ??????
4,70206,?????????? 1????,??????????,64bit ?????????? Full SSD ????,NaN,??????????: padm php?? ?????? ???? ??????

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   no         5 non-null      int64
 1   ????????1  5 non-null      object
 2   ????????2  5 non-null      object
 3   ??????     5 non-null      object
 4   ????       4 non-null      object
 5   ????.1     5 non-null      object
dtypes: int64(1), object(5)
memory usage: 368.0+ bytes

In [12]:
set(df['규모구분'])

{'전용면적 102㎡초과', '전용면적 60㎡이하', '전용면적 60㎡초과 85㎡이하', '전용면적 85㎡초과 102㎡이하', '전체'}

In [31]:
df = df.dropna(axis = 0)

In [35]:
def cat_labelling(df_col, create_col, first_key, keywords):
    
    # create the column
#     print(df[df_col])
    df[create_col] = df[df_col].apply(lambda x: 1 if first_key in x else 0)

    # change 0s to 1s if the text contains the keywords 
    for i in range(len(keywords)):
        for n in range(len(df[df_col])):
            if keywords[i] in df[df_col][n]:
                df[create_col][n]=1

# the column where the text is stored 
df_col = '제목' 
# the name of column you want to make 
create_col = '카테고리3' 
# first keyword to create a column
first_key = '혹시'
# the rest of keywords
keywords = ['가능'] 

cat_labelling(df_col, create_col, first_key, keywords)

# df.head()

<ipython-input-35-b7cdd230635b>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[create_col][n]=1

In [36]:
df.head()

,no,카테고리1,카테고리2,상품명,제목,내용,카테고리3
0,70203.0,기술지원팀 1파트,기술지원팀,64bit 광아우토반 Full SSD 일반형,확장자 .d로 인식 세티우탁드린 것 실행,대상아이디: padm php로 작성한 거을 확장자,0
1,70203.0,기술지원팀 3파트,기술지원팀,65bit 광아우토반 Full SSD 일반형,이거 혹시 아닌가요,대상아이디: padm php로 작성한 거을 확장자,1
2,70204.0,기술지원팀 2파트,기술지원팀,64bit 광아우토반 Full SSD,가능할지 모르겠네요,대상아이디: padm php로 작성한 거을 확장자,1
3,70205.0,기술지원팀 1파트,기술지원팀,64bit 광아우토반 Full SSD 고급형,가능한가요,대상아이디: padm php로 작성한 거을 확장자,1
4,70206.0,기술지원팀 1파트,기술지원팀,64bit 광아우토반 Full SSD 중형,할 수 있다,대상아이디: padm php로 작성한 거을 확장자,0

In [37]:
df.isnull().sum()

no       0
카테고리1    0
카테고리2    0
상품명      0
제목       0
내용       0
카테고리3    0
dtype: int64

In [164]:
# df['junior'] = df['Job Description'].apply(lambda x:1 if 'junior' in x.lower() else 0)
df['senior_1'] = df['Job Title'].apply(lambda x:1 if 'senior' in x.lower() else 0)
df['senior_2'] = df['Job Title'].apply(lambda x:1 if x.lower() in 'senior' else 0)
df['senior_3'] = df['Job Title'].apply(lambda x:1 if 'senior' in x else 0)
df['senior_4'] = df['Job Title'].apply(lambda x:1 if 'Senior' in x else 0)
df[['Job Title', 'senior_1', 'senior_2', 'senior_3', 'senior_4']].tail()

,Job Title,senior_1,senior_2,senior_3,senior_4
495,Senior Clinical Scientist - Clinical Trial Mgm...,1,0,0,1
496,Senior Data Engineer,1,0,0,1
497,Sr Data Engineer,0,0,0,0
498,Lead Big Data Engineer,0,0,0,0
499,"Senior Software Engineer, Data Platform",1,0,0,1

In [174]:
keywords[1] in df['Job Title'][499].lower()
# type(df['Job Title'][499].lower())

True

In [200]:
def cat_labelling(df_col, create_col, first_key, keywords):
    
    # create the column
    df[create_col] = df[df_col].apply(lambda x: 1 if first_key in x.lower() else 0)

    # change 0s to 1s if the text contains the keywords 
    for i in range(len(keywords)):
        for n in range(len(df[df_col])):
            if keywords[i] in df[df_col][n].lower():
                df[create_col][n]=1

# the column where the text is stored 
df_col = 'Job Title' 
df_col = ''
# the name of column you want to make 
create_col = 'Junior' 
# first keyword to create a column
first_key = 'intern'
# the rest of keywords
keywords = ['junior', 'jr'] 

cat_labelling(df_col, create_col, first_key, keywords)

'''
df_col = 'Enquiries' 
create_col = 'Speed Improvement' 
first_key = 'slow'
keywords = ['slowed', 'slowing', 'slowly'] 

cat_labelling(df_col, create_col, first_key, keywords)

'''

# df[['Job Title', 'Junior']].head(50)
df.head()

<ipython-input-200-03144de9ac83>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[create_col][n]=1

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Junior
0,Professional Services Consultant,$48K-$97K\n(Glassdoor Est.),"Thycotic, a global leader in IT security, is t...",4.1,Thycotic\n4.1,"Chicago, IL",201 to 500 Employees,1996,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),0
1,Associate Managing Consultant,$83K-$150K\n(Glassdoor Est.),Business Title\nAssociate Managing Consultant\...,4.1,Synopsys\n4.1,"Chicago, IL",10000+ Employees,1986,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),0
2,BI Developer - Jaspersoft,$81K-$135K\n(Glassdoor Est.),Summary\n\nUsing statistical analysis and vari...,2.4,Options Clearing Corporation\n2.4,"Chicago, IL",501 to 1000 Employees,1973,Company - Private,Financial Transaction Processing,Finance,$100 to $500 million (USD),0
3,Warehouse Worker - Package Handler,$10-$16 Per Hour\n(Glassdoor Est.),$14.50/hr. paid weekly for Package Handlers!\n...,3.5,UNITED PARCEL SERVICE\n3.5,"Northbrook, IL",10000+ Employees,1907,Company - Public,Logistics & Supply Chain,Transportation & Logistics,$10+ billion (USD),0
4,Experienced Technician & Experienced Installer...,-1,IMMEDIATE OPENINGS: *\nHVAC* Installer with *e...,-1.0,Giant HVAC,"Chicago, IL",-1,-1,-1,-1,-1,-1,0

In [20]:
x= 'hi'
if x.lower() in ('go' or 'stop' or 'hi' or 'se'):
    print(1)
else:
    print(0)

0