In [2]:
import pandas as pd
import re

from geopy.geocoders import Nominatim
# Call the nominatim tool
geo_loc = Nominatim(user_agent="get_loc")

# For distance calculation
from geopy.distance import geodesic

In [4]:
pd.options.display.max_columns = 30
pd.options.display.max_rows = 300

# Define df2

I saved df2 as a file named Cyclistic_202010_202109_zip_code.csv. While working with this file in Tableau, I realised that I also needed coordinates for end points. So, I saved the file and named Cyclistic_202010_202109_zip_code_Tableau.csv. The Tableau.csv file containes more columns than the former one.

In [6]:
pd.read_csv('Cyclistic_202010_202109_zip_code.csv').head()

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (6,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,riding_days,riding_time,zip_code
0,0,ACB6B40CF5B9044C,electric_bike,2020-10-31 19:39:43,2020-10-31 19:57:12,Lakeview Ave & Fullerton Pkwy,313.0,Rush St & Hubbard St,125.0,41.926101,-87.638977,41.890345,-87.626068,casual,0,00:17:29,60614
1,1,DF450C72FD109C01,electric_bike,2020-10-31 23:50:08,2020-11-01 00:04:16,Southport Ave & Waveland Ave,227.0,Kedzie Ave & Milwaukee Ave,260.0,41.948172,-87.663911,41.929528,-87.707818,casual,0,00:14:08,60613
2,2,B6396B54A15AC0DF,electric_bike,2020-10-31 23:00:01,2020-10-31 23:08:22,Stony Island Ave & 67th St,102.0,University Ave & 57th St,423.0,41.773462,-87.585372,41.791455,-87.600050,casual,0,00:08:21,60649
3,3,44A4AEE261B9E854,electric_bike,2020-10-31 22:16:43,2020-10-31 22:19:35,Clark St & Grace St,165.0,Broadway & Sheridan Rd,256.0,41.950855,-87.659244,41.952809,-87.650103,casual,0,00:02:52,60613
4,4,10B7DD76A6A2EB95,electric_bike,2020-10-31 19:38:19,2020-10-31 19:54:32,Southport Ave & Wrightwood Ave,190.0,Stave St & Armitage Ave,185.0,41.928857,-87.663962,41.917777,-87.691434,casual,0,00:16:13,60613

In [5]:
df2 = pd.read_csv('Cyclistic_202010_202109_zip_code_Tableau.csv')
df2.head()

,day_of_week,End Station Id,End Station Name,Ended At,Member Casual,Ride Id,Rideable Type,Riding Time,season,Start Station Id,Start Station Name,Started At,Zip Code,classic_bike,docked_bike,electrict_bike,End Lat,End Lng,F1,Riding Days,riding_time,Start Lat,Start Lng,test
0,Friday,NaN,Central St & Girard Ave,26/03/2021 4:28:58 PM,casual,56A8B5FB254C94A8,classic_bike,30/12/1899 12:02:15 AM,SPRING,NaN,Central St & Girard Ave,26/03/2021 4:26:43 PM,60201,100,0,0,42.064313,-87.686152,1069469,0,2.250000,42.064313,-87.686152,12
1,Sunday,NaN,Chicago Ave & Sheridan Rd,21/03/2021 12:34:04 AM,casual,A590F743136B3155,classic_bike,30/12/1899 12:07:54 AM,SPRING,NaN,Central St & Girard Ave,21/03/2021 12:26:10 AM,60201,100,0,0,42.050491,-87.677821,1120787,0,7.900000,42.064313,-87.686152,12
2,Saturday,NaN,Chicago Ave & Sheridan Rd,27/03/2021 11:57:42 PM,casual,B31A34D7687BCCB6,classic_bike,30/12/1899 12:09:31 AM,SPRING,NaN,Central St & Girard Ave,27/03/2021 11:48:11 PM,60201,100,0,0,42.050491,-87.677821,1120786,0,9.516667,42.064313,-87.686152,12
3,Tuesday,NaN,Chicago Ave & Sheridan Rd,30/03/2021 12:49:23 AM,casual,EC02351300FB9ACA,classic_bike,30/12/1899 12:10:59 AM,SPRING,NaN,Central St & Girard Ave,30/03/2021 12:38:24 AM,60201,100,0,0,42.050491,-87.677821,1120758,0,10.983333,42.064313,-87.686152,12
4,Friday,NaN,Chicago Ave & Washington St,19/03/2021 4:08:50 PM,casual,EBB287674E81F7F2,classic_bike,30/12/1899 12:25:59 AM,WINTER,NaN,Central St & Girard Ave,19/03/2021 3:42:51 PM,60201,100,0,0,42.032562,-87.679101,1075926,0,25.983333,42.064313,-87.686152,12

In [ ]:
df2.isnull().sum()

Drop null *End Lat* and *End Lng*

In [ ]:
len(df2)

In [ ]:
len(df2.loc[(df2['End Lat'].isnull()) | (df2['End Lng'].isnull())])

In [ ]:
5132294 - 2661

In [ ]:
len(df2.dropna(axis = 0, subset = ['End Lat', 'End Lng']))

In [ ]:
df2 = df2.dropna(axis = 0, subset = ['End Lat', 'End Lng'])
df2.isnull().sum()

In [ ]:
df2.columns

# Define df3

In [ ]:
df3 = df2.loc[:,('Start Lat', 'Start Lng', 'Zip Code', 'End Lat', 'End Lng')].astype(str)
df3['start_lat_lng'] = df3.loc[:, 'Start Lat'].str[:6]+', '+df3.loc[:, 'Start Lng'].str[:7]
df3['end_lat_lng'] = df3.loc[:, 'End Lat'].str[:6]+', '+df3.loc[:, 'End Lng'].str[:7]
df3.head()

In [ ]:
df3['end_lat_lng'].nunique()

In [ ]:
# Drop duplicates of end_lat_lng
df3 = df3.drop_duplicates(subset = 'end_lat_lng')
df3 = df3.reset_index()
df3.head()

In [ ]:
print(len(df3))
df3.isnull().sum()

In [ ]:
print(df3['start_lat_lng'].nunique(), df3['end_lat_lng'].nunique())

# df3 End lat lng

Take the integer part

[start:end]

[start:end]

...

Last. [start:]

In [ ]:
df3['end_lat_lng'].nunique()/800 # 6801

In [ ]:
# Set segement size
seg_size = 800
# Take only integer part
integer_part = df3['end_lat_lng'].nunique()//seg_size
# Set 0 for start and seg_size (800) for end
start = 0
end = seg_size

seg_list = []
index_list = []

# The range is integer_part + 1, which is 8 + 1. The last loop 1 is for residual numbers. 
for i in range(integer_part+1):
    if i != integer_part:
        seg_list.append(df3.loc[start:end])
        index_list.append(seg_list[i].index)
        start = end + 1
        end = end + seg_size    
    else:
        seg_list.append(df3.loc[start:])
        index_list.append(seg_list[i].index)

In [ ]:
# Get addresses 
add_list = []
# 1704 - 1750
for i in range(len(index_list)):
    for j in range(index_list[i].start, index_list[i].stop):
#         zip_code_list.append(geo_loc.reverse(df3.loc[j, 'end_lat_lng']).raw['address']['postcode'])
        # Get address part
        add_list.append(geo_loc.geocode(seg_list[i].loc[j, 'end_lat_lng']).address)

In [ ]:
# combine add_list into comb_add_list
comb_add_list = []

for i in range(len(add_list)):
    comb_add_list += add_list[i]
len(comb_add_list)

In [ ]:
# Add comb_add_list to df3 as end_address
df3['end_address'] = comb_add_list
df3.head()

In [ ]:
# Check null values
df3.isnull().sum()

In [ ]:
# Save df3 to csv file
df3.to_csv('df3_end_add_n_distance.csv')

In [ ]:
df3 = pd.read_csv('df3_end_add_n_distance.csv')
df3.drop(columns = 'Unnamed: 0', inplace = True)
df3.head()

In [ ]:
# Extract zip codes located at the second from the end
df3['zip_code'] = df3['end_address'].apply(lambda x: x.split(',')[-2].strip())
df3.head()

In [ ]:
# Check unqiue zip codes
df3['zip_code'].unique()

In [ ]:
# Select the wrong zip codes
end_wrg_dict = {'index' : [], 'end_lat_lng': [], 'end_address' : [], 'zip_code' : []}

for i in range(len(df3)):
    # Select if the length of zip_code is not 5 or it doesn't start with 60 
    if (len(df3['zip_code'][i]) != 5) | (re.search('^60', df3['zip_code'][i]) == None):
        end_wrg_dict['index'].append(df3['index'][i])
        end_wrg_dict['end_lat_lng'].append(df3['end_lat_lng'][i])
        end_wrg_dict['end_address'].append(df3['end_address'][i])
        end_wrg_dict['zip_code'].append(df3['zip_code'][i])

df_end_wrg_dict = pd.DataFrame(end_wrg_dict)
df_end_wrg_dict.head()

In [ ]:
# Check value counts
df_end_wrg_dict['zip_code'].value_counts()

# Different Geocoders
https://gisgeography.com/geocoders/

I chose ArcGIS for the incorrect zip codes. ArcGIS is free.

In [ ]:
from geopy.geocoders import AzureMaps
sub_key = ''
# Set geocoder. I used AzureMaps I have a free subscription
# Free geocoders sometimes give the wrong address, and that is the reason why I am doing an extra work
# as they've given me the wrong addresses.
geocoder = AzureMaps(subscription_key= sub_key ,user_agent = 'geoloc')

In [ ]:
# Extract zip codes only from the full address
df_end_wrg_dict['crr_zip_code'] = df_end_wrg_dict['end_lat_lng'].apply(lambda x: geocoder.reverse(query=(x)).raw['address']['postalCode'])
df_end_wrg_dict.head()

In [ ]:
df_end_wrg_dict['crr_zip_code'].unique()

#### But still there are some incorrect zip codes: '46327', '46320', '46312', '46394'

In [ ]:
#
incr_zc = {'index': [], 'end_lat_lng': [], 'crr_zip_code': []}

for i in range(len(df_end_wrg_dict)):
    if re.search('^6', df_end_wrg_dict['crr_zip_code'][i]) == None:
        incr_zc['index'].append(df_end_wrg_dict['index'][i])
        incr_zc['end_lat_lng'].append(df_end_wrg_dict['end_lat_lng'][i])
        incr_zc['crr_zip_code'].append(df_end_wrg_dict['crr_zip_code'][i])

df_incr_zc = pd.DataFrame(incr_zc)
df_incr_zc.head()

#### Only 71 out of 5M rows have these coordinates in list, so I can ignore them.

In [ ]:
list = df_incr_zc['end_lat_lng'].to_list()
df2['end_lat_lng'].apply(lambda x: x in list).sum()

In [ ]:
df_end_wrg_dict['crr_zip_code'].unique()

In [ ]:
df3['zip_code'].unique()

#### Put the correct zip codes from df_end_wrg_dict into df3 where 'index' matches

In [ ]:
row_num = 0

for i in df_end_wrg_dict['index']:
    df3.loc[df3['index'] == i, 'zip_code'] = df_end_wrg_dict.loc[df_end_wrg_dict['index'] == i, 'crr_zip_code'][row_num]
    row_num += 1

# Show the unique zip codes
df3['zip_code'].unique()

## Take the zip codes from *df3* and put them into *df2*

In [ ]:
# Change Zip Code to start_zip_code
df2 = df2.rename(columns= {'Zip Code': 'start_zip_code'})
# Add end_lat_lng_short
df2['end_lat_lng_short'] = df2['End Lat'].astype(str).str[:6]+', '+df2['End Lng'].astype(str).str[:7]
df2.head()

In [ ]:
# Create end_zip_code
df2['end_zip_code'] = 0
row_no = 0
# 1440 - 1526
# Put the zip codes from df3 into df2
for i in df3['end_lat_lng']:
    print(row_no)
    df2.loc[df2['end_lat_lng_short'] == i, 'end_zip_code'] = df3.loc[df3['end_lat_lng'] == i, 'zip_code'][row_no]
    row_no += 1

In [ ]:
df2.isnull().sum()

#### Add distance between start and end latitude and longitude

In [ ]:
df2['start_lat_lng'] = df2['Start Lat'].astype(str).str[:10]+', '+df2['Start Lng'].astype(str).str[:11]
df2['end_lat_lng'] = df2['End Lat'].astype(str).str[:10]+', '+df2['End Lng'].astype(str).str[:11]

# Calculate the distance between coordinates
dist_list = []
# 2008 - 2037
for i in range(len(df2)):
    dist_list.append(geodesic(df2.loc[i, 'start_lat_lng'], df2.loc[i, 'end_lat_lng']).m)

df2['distance_m'] = dist_list
df2['distance_m'] = round(df2['distance_m'],2)

In [ ]:
df2.isnull().sum()

In [ ]:
# Drop unnecessary columns
df2 = df2.drop(columns = ['End Station Id', 'Start Station Id', 'Unnamed: 0', 'day_of_week', 'Riding Time', 
                    'F1', 'riding_time', 'season', 'classic_bike', 'docked_bike', 'electrict_bike', 
                    'test', 'start_lat_lng', 'end_lat_lng', 'end_lat_lng_short'])

In [ ]:
# Save df2
df2.to_csv('divvy_data_202010_202109.csv', index = False)