In [ ]:
# conda install -c conda-forge geopandas

In [ ]:
# pip install geopy

In [297]:
import pandas as pd
import re
import copy

# https://www.geeksforgeeks.org/how-to-get-geolocation-in-python/
# https://www.geeksforgeeks.org/find-the-location-with-specified-latitude-and-longitude-using-python/
from geopy.geocoders import Nominatim
# calling the nominatim tool
geo_loc = Nominatim(user_agent="get_loc")

from geopy.extra.rate_limiter import RateLimiter

from geopy.distance import geodesic

In [2]:
pd.options.display.max_columns = 30
pd.options.display.max_rows = 300

In [60]:
df = pd.read_csv("Cyclistic_202010_202109.csv")
df.head()

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (6,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,riding_days,riding_time
0,0,ACB6B40CF5B9044C,electric_bike,2020-10-31 19:39:43,2020-10-31 19:57:12,Lakeview Ave & Fullerton Pkwy,313.0,Rush St & Hubbard St,125.0,41.926101,-87.638977,41.890345,-87.626068,casual,0,00:17:29
1,1,DF450C72FD109C01,electric_bike,2020-10-31 23:50:08,2020-11-01 00:04:16,Southport Ave & Waveland Ave,227.0,Kedzie Ave & Milwaukee Ave,260.0,41.948172,-87.663911,41.929528,-87.707818,casual,0,00:14:08
2,2,B6396B54A15AC0DF,electric_bike,2020-10-31 23:00:01,2020-10-31 23:08:22,Stony Island Ave & 67th St,102.0,University Ave & 57th St,423.0,41.773462,-87.585372,41.791455,-87.600050,casual,0,00:08:21
3,3,44A4AEE261B9E854,electric_bike,2020-10-31 22:16:43,2020-10-31 22:19:35,Clark St & Grace St,165.0,Broadway & Sheridan Rd,256.0,41.950855,-87.659244,41.952809,-87.650103,casual,0,00:02:52
4,4,10B7DD76A6A2EB95,electric_bike,2020-10-31 19:38:19,2020-10-31 19:54:32,Southport Ave & Wrightwood Ave,190.0,Stave St & Armitage Ave,185.0,41.928857,-87.663962,41.917777,-87.691434,casual,0,00:16:13

In [4]:
df.isnull().sum()

Unnamed: 0                 0
ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    523467
start_station_id      523781
end_station_name      567268
end_station_id        567501
start_lat                  0
start_lng                  0
end_lat                 4821
end_lng                 4821
member_casual              0
riding_days                0
riding_time                0
dtype: int64

In [4]:
start_station = df.start_station_name.value_counts()
start_station_list = start_station.index.to_list()
len(start_station_list)

784

In [61]:
df['start_lat_short'] = df.start_lat.astype(str).str[:6]
df['start_lng_short'] = df.start_lng.astype(str).str[:7]
df['lat_lng_short'] = df['start_lat_short']+', '+df['start_lng_short']
df.head()

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,riding_days,riding_time,start_lat_short,start_lng_short,lat_lng_short
0,0,ACB6B40CF5B9044C,electric_bike,2020-10-31 19:39:43,2020-10-31 19:57:12,Lakeview Ave & Fullerton Pkwy,313.0,Rush St & Hubbard St,125.0,41.926101,-87.638977,41.890345,-87.626068,casual,0,00:17:29,41.926,-87.638,"41.926, -87.638"
1,1,DF450C72FD109C01,electric_bike,2020-10-31 23:50:08,2020-11-01 00:04:16,Southport Ave & Waveland Ave,227.0,Kedzie Ave & Milwaukee Ave,260.0,41.948172,-87.663911,41.929528,-87.707818,casual,0,00:14:08,41.948,-87.663,"41.948, -87.663"
2,2,B6396B54A15AC0DF,electric_bike,2020-10-31 23:00:01,2020-10-31 23:08:22,Stony Island Ave & 67th St,102.0,University Ave & 57th St,423.0,41.773462,-87.585372,41.791455,-87.600050,casual,0,00:08:21,41.773,-87.585,"41.773, -87.585"
3,3,44A4AEE261B9E854,electric_bike,2020-10-31 22:16:43,2020-10-31 22:19:35,Clark St & Grace St,165.0,Broadway & Sheridan Rd,256.0,41.950855,-87.659244,41.952809,-87.650103,casual,0,00:02:52,41.950,-87.659,"41.950, -87.659"
4,4,10B7DD76A6A2EB95,electric_bike,2020-10-31 19:38:19,2020-10-31 19:54:32,Southport Ave & Wrightwood Ave,190.0,Stave St & Armitage Ave,185.0,41.928857,-87.663962,41.917777,-87.691434,casual,0,00:16:13,41.928,-87.663,"41.928, -87.663"

locations are a bit different, but similar

In [62]:
df = df.rename(columns = {'Unnamed: 0' : 'no'})
df.head()

,no,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,riding_days,riding_time,start_lat_short,start_lng_short,lat_lng_short
0,0,ACB6B40CF5B9044C,electric_bike,2020-10-31 19:39:43,2020-10-31 19:57:12,Lakeview Ave & Fullerton Pkwy,313.0,Rush St & Hubbard St,125.0,41.926101,-87.638977,41.890345,-87.626068,casual,0,00:17:29,41.926,-87.638,"41.926, -87.638"
1,1,DF450C72FD109C01,electric_bike,2020-10-31 23:50:08,2020-11-01 00:04:16,Southport Ave & Waveland Ave,227.0,Kedzie Ave & Milwaukee Ave,260.0,41.948172,-87.663911,41.929528,-87.707818,casual,0,00:14:08,41.948,-87.663,"41.948, -87.663"
2,2,B6396B54A15AC0DF,electric_bike,2020-10-31 23:00:01,2020-10-31 23:08:22,Stony Island Ave & 67th St,102.0,University Ave & 57th St,423.0,41.773462,-87.585372,41.791455,-87.600050,casual,0,00:08:21,41.773,-87.585,"41.773, -87.585"
3,3,44A4AEE261B9E854,electric_bike,2020-10-31 22:16:43,2020-10-31 22:19:35,Clark St & Grace St,165.0,Broadway & Sheridan Rd,256.0,41.950855,-87.659244,41.952809,-87.650103,casual,0,00:02:52,41.950,-87.659,"41.950, -87.659"
4,4,10B7DD76A6A2EB95,electric_bike,2020-10-31 19:38:19,2020-10-31 19:54:32,Southport Ave & Wrightwood Ave,190.0,Stave St & Armitage Ave,185.0,41.928857,-87.663962,41.917777,-87.691434,casual,0,00:16:13,41.928,-87.663,"41.928, -87.663"

In [13]:
df['lat_lng_short'].nunique()

2405

In [14]:
len(df)

5136261

In [15]:
df.duplicated('lat_lng_short').sum()

5133856

In [16]:
5136261 - 5133856

2405

In [63]:
df1 = df[:]

df1 = df1.drop_duplicates('lat_lng_short')
print(len(df1))
df1.tail()

2405

,no,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,riding_days,riding_time,start_lat_short,start_lng_short,lat_lng_short
5094558,5097862,7C5C4BFBB56779F6,electric_bike,2021-09-10 20:58:41,2021-09-10 21:13:18,Paulina St & 18th St,TA1307000159,NaN,NaN,41.858049,-87.669063,41.84,-87.72,member,0,00:14:37,41.858,-87.669,"41.858, -87.669"
5098438,5101742,A3DCC3B4E8387957,electric_bike,2021-09-08 08:50:54,2021-09-08 09:42:08,NaN,NaN,NaN,NaN,41.650000,-87.560000,41.57,-87.54,casual,0,00:51:14,41.65,-87.56,"41.65, -87.56"
5109326,5112630,8E34E64D48083921,electric_bike,2021-09-17 11:52:47,2021-09-17 12:30:34,NaN,NaN,NaN,NaN,41.830000,-87.710000,41.92,-87.70,member,0,00:37:47,41.83,-87.71,"41.83, -87.71"
5110369,5113673,5742BE0463806D7F,electric_bike,2021-09-29 15:14:31,2021-09-29 15:35:13,Noble St & Milwaukee Ave,13290,NaN,NaN,41.899018,-87.662521,41.87,-87.71,casual,0,00:20:42,41.899,-87.662,"41.899, -87.662"
5111917,5115221,A16CEA9F9596ED30,electric_bike,2021-09-06 11:25:04,2021-09-06 11:28:30,NaN,NaN,NaN,NaN,41.680000,-87.740000,41.69,-87.74,casual,0,00:03:26,41.68,-87.74,"41.68, -87.74"

In [64]:
df1 = df1.reset_index()
df1 = df1.drop(columns = ['no'])
df1

,index,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,riding_days,riding_time,start_lat_short,start_lng_short,lat_lng_short
0,0,ACB6B40CF5B9044C,electric_bike,2020-10-31 19:39:43,2020-10-31 19:57:12,Lakeview Ave & Fullerton Pkwy,313.0,Rush St & Hubbard St,125.0,41.926101,-87.638977,41.890345,-87.626068,casual,0,00:17:29,41.926,-87.638,"41.926, -87.638"
1,1,DF450C72FD109C01,electric_bike,2020-10-31 23:50:08,2020-11-01 00:04:16,Southport Ave & Waveland Ave,227.0,Kedzie Ave & Milwaukee Ave,260.0,41.948172,-87.663911,41.929528,-87.707818,casual,0,00:14:08,41.948,-87.663,"41.948, -87.663"
2,2,B6396B54A15AC0DF,electric_bike,2020-10-31 23:00:01,2020-10-31 23:08:22,Stony Island Ave & 67th St,102.0,University Ave & 57th St,423.0,41.773462,-87.585372,41.791455,-87.600050,casual,0,00:08:21,41.773,-87.585,"41.773, -87.585"
3,3,44A4AEE261B9E854,electric_bike,2020-10-31 22:16:43,2020-10-31 22:19:35,Clark St & Grace St,165.0,Broadway & Sheridan Rd,256.0,41.950855,-87.659244,41.952809,-87.650103,casual,0,00:02:52,41.950,-87.659,"41.950, -87.659"
4,4,10B7DD76A6A2EB95,electric_bike,2020-10-31 19:38:19,2020-10-31 19:54:32,Southport Ave & Wrightwood Ave,190.0,Stave St & Armitage Ave,185.0,41.928857,-87.663962,41.917777,-87.691434,casual,0,00:16:13,41.928,-87.663,"41.928, -87.663"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2400,5094558,7C5C4BFBB56779F6,electric_bike,2021-09-10 20:58:41,2021-09-10 21:13:18,Paulina St & 18th St,TA1307000159,NaN,NaN,41.858049,-87.669063,41.840000,-87.720000,member,0,00:14:37,41.858,-87.669,"41.858, -87.669"
2401,5098438,A3DCC3B4E8387957,electric_bike,2021-09-08 08:50:54,2021-09-08 09:42:08,NaN,NaN,NaN,NaN,41.650000,-87.560000,41.570000,-87.540000,casual,0,00:51:14,41.65,-87.56,"41.65, -87.56"
2402,5109326,8E34E64D48083921,electric_bike,2021-09-17 11:52:47,2021-09-17 12:30:34,NaN,NaN,NaN,NaN,41.830000,-87.710000,41.920000,-87.700000,member,0,00:37:47,41.83,-87.71,"41.83, -87.71"
2403,5110369,5742BE0463806D7F,electric_bike,2021-09-29 15:14:31,2021-09-29 15:35:13,Noble St & Milwaukee Ave,13290,NaN,NaN,41.899018,-87.662521,41.870000,-87.710000,casual,0,00:20:42,41.899,-87.662,"41.899, -87.662"
2404,5111917,A16CEA9F9596ED30,electric_bike,2021-09-06 11:25:04,2021-09-06 11:28:30,NaN,NaN,NaN,NaN,41.680000,-87.740000,41.690000,-87.740000,casual,0,00:03:26,41.68,-87.74,"41.68, -87.74"

## skip

Separate df_lat_lng into three as geo_loc.geocode() has a access time limit

In [65]:
df_lat_lng1 = df1.loc[:802]
df_lat_lng2 = df1.loc[803:1605]
df_lat_lng3 = df1.loc[1606:]

print(len(df_lat_lng1),
      len(df_lat_lng2),
      len(df_lat_lng3)
     )

803 803 799

In [240]:
# calling the nominatim tool
geo_loc = Nominatim(user_agent="GetLoc")

loc_list1 = []
loc_list2 = []
loc_list3 = []

# As df_lat_lng1 start from 0, I don't need to set the range specifically
for i in range(len(df_lat_lng1)):
    zip_code = geo_loc.geocode(df_lat_lng1['lat_lng_short'][i]).address
    loc_list1.append(zip_code)
print('df_lat_lng1 - Done')

# Set the range as df_lat_lng2 starts from 802 and ends at 1604
for j in range(df_lat_lng2['lat_lng_short'].index.start, df_lat_lng2['lat_lng_short'].index.stop):
    zip_code = geo_loc.geocode(df_lat_lng2['lat_lng_short'][j]).address
    loc_list2.append(zip_code)
print('df_lat_lng2 - Done')

# Set the range as df_lat_lng3 starts from 1605 and ends at 2404
for k in range(df_lat_lng3['lat_lng_short'].index.start, df_lat_lng3['lat_lng_short'].index.stop):
    zip_code = geo_loc.geocode(df_lat_lng3['lat_lng_short'][k]).address
    loc_list3.append(zip_code)
print('df_lat_lng3 - Done')

for i in range(3)
    for j in range()

df_lat_lng1 - Done
df_lat_lng2 - Done
df_lat_lng3 - Done

# End lat lng

Take the integer part

1. [start:end]
2. [start:end]
   
   ...
   
Last. [start:]

In [436]:
df3['end_lat_lng'].nunique()/800 # 6801

8.50125

In [141]:
# Set segement size
seg_size = 800
# Take only integer part
integer_part = df3['end_lat_lng'].nunique()//seg_size
# Set 0 for start and seg_size (800) for end
start = 0
end = seg_size

seg_list = []
index_list = []

# The range is integer_part + 1, which is 8 + 1. The last loop 1 is for residual numbers. 
for i in range(integer_part+1):
    if i != integer_part:
        seg_list.append(df3.loc[start:end])
        index_list.append(seg_list[i].index)
        start = end + 1
        end = end + seg_size    
    else:
        seg_list.append(df3.loc[start:])
        index_list.append(seg_list[i].index)

In [ ]:
# Get addresses 
add_list = []
# 1704 - 1750
for i in range(len(index_list)):
    for j in range(index_list[i].start, index_list[i].stop):
#         zip_code_list.append(geo_loc.reverse(df3.loc[j, 'end_lat_lng']).raw['address']['postcode'])
        add_list.append(geo_loc.geocode(seg_list[i].loc[j, 'end_lat_lng']).address)

In [ ]:
comb_add_list = []

for i in range(len(add_list)):
    comb_add_list += add_list[i]
len(comb_add_list)

In [449]:
df3['end_address'] = comb_add_list
df3.head()

,index,Start Lat,Start Lng,Zip Code,End Lat,End Lng,start_lat_lng,end_lat_lng,end_address
0,0,42.064313,-87.686152,60201,42.064313,-87.686152,"42.064, -87.686","42.064, -87.686","Central & Girard (Purple Line) EB, Central Str..."
1,1,42.064313,-87.686152,60201,42.050491,-87.677821,"42.064, -87.686","42.050, -87.677","Parkes Hall, 1870, Sheridan Road, Downtown, Ev..."
2,4,42.064313,-87.686152,60201,42.032562,-87.679101,"42.064, -87.686","42.032, -87.679","Firehouse Grill, 750, Chicago Avenue, South Ev..."
3,6,42.063598,-87.69873,60201,42.063598,-87.69873,"42.063, -87.698","42.063, -87.698","Verizon, 2516, Green Bay Road, Evanston, Evans..."
4,10,42.063598,-87.69873,60201,41.96167,-87.65464,"42.063, -87.698","41.961, -87.654","4315-4317, North Broadway, Buena Park, Uptown,..."

In [450]:
df3.isnull().sum()

index            0
Start Lat        0
Start Lng        0
Zip Code         0
End Lat          0
End Lng          0
start_lat_lng    0
end_lat_lng      0
end_address      0
dtype: int64

In [451]:
df3.to_csv('df3_end_add_n_distance.csv')

In [452]:
df3['end_address']

0       Central & Girard (Purple Line) EB, Central Str...
1       Parkes Hall, 1870, Sheridan Road, Downtown, Ev...
2       Firehouse Grill, 750, Chicago Avenue, South Ev...
3       Verizon, 2516, Green Bay Road, Evanston, Evans...
4       4315-4317, North Broadway, Buena Park, Uptown,...
                              ...
6796    6817-6819, North Wayne Avenue, Rogers Park, Ch...
6797    1020, West Belmont Avenue, Northalsted, Lake V...
6798    3656, North Fremont Street, Northalsted, Lake ...
6799    1423-1427, West Estes Avenue, Rogers Park, Chi...
6800    South Shore Golf Course, Lakefront Trail, Sout...
Name: end_address, Length: 6801, dtype: object

In [471]:
# for i in range(len(df3)):
df3['zip_code'] = df3['end_address'].apply(lambda x: x.split(',')[-2].strip())
df3.head()

,index,Start Lat,Start Lng,Zip Code,End Lat,End Lng,start_lat_lng,end_lat_lng,end_address,zip_code
0,0,42.064313,-87.686152,60201,42.064313,-87.686152,"42.064, -87.686","42.064, -87.686","Central & Girard (Purple Line) EB, Central Str...",60201
1,1,42.064313,-87.686152,60201,42.050491,-87.677821,"42.064, -87.686","42.050, -87.677","Parkes Hall, 1870, Sheridan Road, Downtown, Ev...",60201
2,4,42.064313,-87.686152,60201,42.032562,-87.679101,"42.064, -87.686","42.032, -87.679","Firehouse Grill, 750, Chicago Avenue, South Ev...",60202
3,6,42.063598,-87.69873,60201,42.063598,-87.69873,"42.063, -87.698","42.063, -87.698","Verizon, 2516, Green Bay Road, Evanston, Evans...",60201
4,10,42.063598,-87.69873,60201,41.96167,-87.65464,"42.063, -87.698","41.961, -87.654","4315-4317, North Broadway, Buena Park, Uptown,...",60613

In [478]:
df3['zip_code'].unique()

array(['60201', '60202', '60613', '60626', '60208', '60657', '60660',
       '60640', '60645', '9020', '60611', '60618', '60605', '60625',
       '60632', '60659', '60601', '60614', '60651', '60602', '60647',
       '60615', '60642', '60610', '60654', '60606', '60643', '60622',
       '60617', '46394', '60661', '60616', '60653', 'IL', '60623',
       '60603', '60607', '60302', '60608', '60604', '60641', '60609',
       '60622-4580', '60619', '60409', '60646', '60637', '60612', '60649',
       '60636', '60629', '60617:60649', '60624', '60712', 'Illinois',
       '60620', '60655', '60203', '60644', '60630', '60638', '90615',
       '60621', '60628', '60633', '60827-6427', '60827', '60639', '60696',
       '60652', '60804', '60091', '60634', '60805', '60803', '60453',
       '46327', '60193', '60076', '60419', '60411', '60402', '60631',
       '60406', '60304', '46320', '60706', '60093', '60656', '60022',
       '46312', '60707', '60053', '60301', '60082', '60153', '60104',
       '60077', '60016', '60160', '60155', '60438', '60043', '60305',
       '60459', '60714', '60513', '60445', '60472', '46311', '60473',
       '60025', '60068', '60455', '60465', '60534', '60171', '60439',
       '60426', '60482', '60428', '60130', '60546', '60456',
       '60628:60827', '60141', '60176', '60131', '60035'], dtype=object)

In [483]:
len(df3['zip_code'][0])

5

In [484]:
wrong_dict = {'index' : [], 'start_lat_lng': [], 'end_lat_lng': [], 'address' : [], 'zip_code' : []}

for i in range(len(df3)):
    if (len(df3['zip_code'][i]) != 5) & (re.search('^60', df3['zip_code'][i]) == None):

14
94
320
340
350
402
431
442
464
523
594
616
657
712
865
931
964
972
1014
1204
1340
1465
1495
1633
1668
1669
1681
1686
1697
1720
1733
1788
1790
1909
1922
1956
1970
2184
2224
2244
2270
2301
2462
2496
2521
2524
2587
2645
2657
2670
2798
2858
2877
2922
2978
2994
3004
3036
3075
3141
3180
3181
3216
3226
3284
3312
3317
3415
3432
3469
3485
3513
3519
3562
3579
3611
3642
3648
3682
3731
3747
3749
3762
3784
3823
3892
3994
4050
4074
4155
4167
4183
4257
4324
4376
4461
4563
4566
4568
4581
4612
4684
4867
4874
4893
4941
5007
5059
5075
5088
5121
5158
5238
5281
5284
5373
5389
5486
5504
5546
5632
5669
5734
5756
5783
5851
5952
5962
6084
6107
6133
6192
6406
6420
6427
6436
6460
6472
6525
6540
6645

In [ ]:
# lists in a dictionary
wrong_dict = {'index' : [], 'start_lat_lng': [], 'end_lat_lng': [], 'address' : [], 'zip_code' : []}

for i in range(len(df1)):
    # Find any zip code not starting with 60
    if re.search('^60', df1['zip_code'][i]) == None:
#     if re.search('.60', df1['full_address'][i]) == None: # wrong
        # Store their index, start_lat_lng, end_lat_lng, and full_address into err_dict
        wrong_dict['index'].append(df1['index'][i])
        wrong_dict['start_lat_lng'].append(df1['start_lat_lng'][i])
        wrong_dict['end_lat_lng'].append(df1['end_lat_lng'][i])
        wrong_dict['address'].append(df1['full_address'][i])
        wrong_dict['zip_code'].append(df1['zip_code'][i])
wrong_dict

# df2

In [437]:
df2['start_lat_lng'] = df2['Start Lat'].astype(str).str[:10]+', '+df2['Start Lng'].astype(str).str[:11]
df2['end_lat_lng'] = df2['End Lat'].astype(str).str[:10]+', '+df2['End Lng'].astype(str).str[:11]
df2.head(1)

,day_of_week,End Station Id,End Station Name,Ended At,Member Casual,Ride Id,Rideable Type,Riding Time,season,Start Station Id,Start Station Name,Started At,Zip Code,classic_bike,docked_bike,electrict_bike,End Lat,End Lng,F1,Riding Days,riding_time,Start Lat,Start Lng,test,start_lat_lng,end_lat_lng,distance_m
0,Friday,NaN,Central St & Girard Ave,26/03/2021 4:28:58 PM,casual,56A8B5FB254C94A8,classic_bike,30/12/1899 12:02:15 AM,SPRING,NaN,Central St & Girard Ave,26/03/2021 4:26:43 PM,60201,100,0,0,42.064313,-87.686152,1069469,0,2.25,42.064313,-87.686152,12,"42.064313, -87.686152","42.064313, -87.686152",0.0

In [427]:
# Calculate the distance between coordinates
dist_list = []
# 2008 - 2037
for i in range(len(df2)):
    dist_list.append(geodesic(df2.loc[i, 'start_lat_lng'], df2.loc[i, 'end_lat_lng']).m)

In [428]:
len(dist_list)

5129633

In [435]:
df2['distance_m'] = dist_list
df2['distance_m'] = round(df2['distance_m'],2)
df2.tail()

,day_of_week,End Station Id,End Station Name,Ended At,Member Casual,Ride Id,Rideable Type,Riding Time,season,Start Station Id,Start Station Name,Started At,Zip Code,classic_bike,docked_bike,electrict_bike,End Lat,End Lng,F1,Riding Days,riding_time,Start Lat,Start Lng,test,start_lat_lng,end_lat_lng,distance_m
5129628,Thursday,13084.0,California Ave & Milwaukee Ave,2/09/2021 7:07:48 PM,member,058A0C687460B27D,electric_bike,30/12/1899 12:32:06 AM,SUMMER,NaN,NaN,2/09/2021 6:35:42 PM,60707,0,0,100,41.922611,-87.697170,4859110,0,32.100000,41.93,-87.79,13,"41.93, -87.79","41.922611, -87.6971705",7743.48
5129629,Tuesday,13084.0,California Ave & Milwaukee Ave,28/09/2021 7:57:39 PM,member,F031FE67D211249E,electric_bike,30/12/1899 12:33:03 AM,SUMMER,NaN,NaN,28/09/2021 7:24:36 PM,60707,0,0,100,41.922691,-87.697177,4858710,0,33.050000,41.93,-87.79,13,"41.93, -87.79","41.9226913, -87.697177",7742.00
5129630,Wednesday,13084.0,California Ave & Milwaukee Ave,1/09/2021 7:39:23 PM,member,876F51E3CDABAFE8,electric_bike,30/12/1899 12:34:44 AM,SUMMER,NaN,NaN,1/09/2021 7:04:39 PM,60707,0,0,100,41.922633,-87.697153,4859109,0,34.733333,41.92,-87.79,13,"41.92, -87.79","41.9226328, -87.6971535",7707.42
5129631,Wednesday,20206.0,Homewood Ave & 115th St,29/09/2021 4:54:36 PM,member,305925F2012483D3,electric_bike,30/12/1899 12:38:53 AM,SUMMER,NaN,NaN,29/09/2021 4:15:43 PM,60805,0,0,100,41.684572,-87.670796,4859510,0,38.883333,41.71,-87.70,13,"41.71, -87.7","41.6845721, -87.6707958",3726.40
5129632,Tuesday,20228.0,Constance Ave & 95th St,21/09/2021 4:41:38 PM,member,492F760A0095D654,electric_bike,30/12/1899 12:38:28 AM,SUMMER,NaN,NaN,21/09/2021 4:03:10 PM,60827,0,0,100,41.722100,-87.578979,4936161,0,38.466667,41.65,-87.62,13,"41.65, -87.62","41.7221001, -87.5789793",8705.82

df2.loc[(df2['start_lat_lng'].str.len() < 21) | (df2['end_lat_lng'].str.len() < 21)]

In [486]:
df2.to_csv('df2_distance.csv')

# df2 END

In [322]:
# test = pd.DataFrame({'name': ['42.064, -87.686', 'berlin', 'london']})
test = pd.DataFrame({'name': ['42.064, -87.686', '42.064, -87.686', '42.064, -87.686']})

from geopy.extra.rate_limiter import RateLimiter
# geo_loc.reverse('42.064, -87.686').raw['address']['postcode']
# geocode = RateLimiter(get_loc.geocode, min_delay_seconds=1)
geo_reverse = RateLimiter(get_loc.reverse, min_delay_seconds=1)
test['location'] = test['name'].apply(geocode)

# df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)

In [276]:
geo_loc.geocode(seg_list[0].loc[0, 'end_lat_lng']).raw

{'place_id': 41026435,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'node',
 'osm_id': 3266573885,
 'boundingbox': ['42.0640714', '42.0641714', '-87.6859784', '-87.6858784'],
 'lat': '42.0641214',
 'lon': '-87.6859284',
 'display_name': 'Central & Girard (Purple Line) EB, Central Street, Evanston, Evanston Township, Cook County, Illinois, 60201, United States',
 'class': 'highway',
 'type': 'bus_stop',
 'importance': 0.001,
 'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//transport_bus_stop2.p.20.png'}

In [249]:
geo_loc.geocode(seg_list[0].loc[0, 'end_lat_lng']).point

Point(42.0641214, -87.6859284, 0.0)

Merge loc_list1, 2 and 3 into loc_list and add it to df_lat_lng['full_address']. 

I saved this df because to avoid the above time-consuming process.

In [261]:
loc_list = loc_list1 + loc_list2 + loc_list3
df1['full_address'] = loc_list
df1.head()

,index,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,riding_days,riding_time,start_lat_short,start_lng_short,lat_lng_short,full_address
0,0,ACB6B40CF5B9044C,electric_bike,2020-10-31 19:39:43,2020-10-31 19:57:12,Lakeview Ave & Fullerton Pkwy,313.0,Rush St & Hubbard St,125.0,41.926101,-87.638977,41.890345,-87.626068,casual,0,00:17:29,41.926,-87.638,"41.926, -87.638","325, West Fullerton Parkway, Mid-North Distric..."
1,1,DF450C72FD109C01,electric_bike,2020-10-31 23:50:08,2020-11-01 00:04:16,Southport Ave & Waveland Ave,227.0,Kedzie Ave & Milwaukee Ave,260.0,41.948172,-87.663911,41.929528,-87.707818,casual,0,00:14:08,41.948,-87.663,"41.948, -87.663","3630, North Wayne Avenue, Wrigleyville, Lake V..."
2,2,B6396B54A15AC0DF,electric_bike,2020-10-31 23:00:01,2020-10-31 23:08:22,Stony Island Ave & 67th St,102.0,University Ave & 57th St,423.0,41.773462,-87.585372,41.791455,-87.600050,casual,0,00:08:21,41.773,-87.585,"41.773, -87.585","6717, South Cornell Avenue, Parkside, South Sh..."
3,3,44A4AEE261B9E854,electric_bike,2020-10-31 22:16:43,2020-10-31 22:19:35,Clark St & Grace St,165.0,Broadway & Sheridan Rd,256.0,41.950855,-87.659244,41.952809,-87.650103,casual,0,00:02:52,41.950,-87.659,"41.950, -87.659","3740-3742, North Clark Street, Wrigleyville, L..."
4,4,10B7DD76A6A2EB95,electric_bike,2020-10-31 19:38:19,2020-10-31 19:54:32,Southport Ave & Wrightwood Ave,190.0,Stave St & Armitage Ave,185.0,41.928857,-87.663962,41.917777,-87.691434,casual,0,00:16:13,41.928,-87.663,"41.928, -87.663","2533, North Southport Avenue, Lincoln Park, Ch..."

## to here

In [73]:
# df1.to_csv('df_lat_lng.csv')
df1 = pd.read_csv('df_lat_lng.csv')
df1 = df1.drop(columns = {'Unnamed: 0'})
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2405 entries, 0 to 2404
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               2405 non-null   int64
 1   ride_id             2405 non-null   object
 2   rideable_type       2405 non-null   object
 3   started_at          2405 non-null   object
 4   ended_at            2405 non-null   object
 5   start_station_name  1742 non-null   object
 6   start_station_id    1742 non-null   object
 7   end_station_name    1564 non-null   object
 8   end_station_id      1562 non-null   object
 9   start_lat           2405 non-null   float64
 10  start_lng           2405 non-null   float64
 11  end_lat             2405 non-null   float64
 12  end_lng             2405 non-null   float64
 13  member_casual       2405 non-null   object
 14  riding_days         2405 non-null   int64
 15  riding_time         2405 non-null   object
 16  start_lat_short     2405 non-null   float64
 17  start_lng_short     2405 non-null   float64
 18  lat_lng_short       2405 non-null   object
 19  full_address        2405 non-null   object
dtypes: float64(6), int64(2), object(12)
memory usage: 375.9+ KB

In [74]:
df1['start_lat_lng'] = df1['start_lat'].astype(str).str[:10]+","+df1['start_lng'].astype(str).str[:11]
df1['end_lat_lng'] = df1['end_lat'].astype(str).str[:10]+","+df1['end_lng'].astype(str).str[:11]
df1['zip_code'] = df1['full_address'].str[-20:-15]
df1.head()

,index,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,riding_days,riding_time,start_lat_short,start_lng_short,lat_lng_short,full_address,start_lat_lng,end_lat_lng,zip_code
0,0,ACB6B40CF5B9044C,electric_bike,2020-10-31 19:39:43,2020-10-31 19:57:12,Lakeview Ave & Fullerton Pkwy,313.0,Rush St & Hubbard St,125.0,41.926101,-87.638977,41.890345,-87.626068,casual,0,00:17:29,41.926,-87.638,"41.926, -87.638","325, West Fullerton Parkway, Mid-North Distric...","41.9261008,-87.6389773","41.8903451,-87.626068",60614
1,1,DF450C72FD109C01,electric_bike,2020-10-31 23:50:08,2020-11-01 00:04:16,Southport Ave & Waveland Ave,227.0,Kedzie Ave & Milwaukee Ave,260.0,41.948172,-87.663911,41.929528,-87.707818,casual,0,00:14:08,41.948,-87.663,"41.948, -87.663","3630, North Wayne Avenue, Wrigleyville, Lake V...","41.9481723,-87.663911","41.9295276,-87.7078178",60613
2,2,B6396B54A15AC0DF,electric_bike,2020-10-31 23:00:01,2020-10-31 23:08:22,Stony Island Ave & 67th St,102.0,University Ave & 57th St,423.0,41.773462,-87.585372,41.791455,-87.600050,casual,0,00:08:21,41.773,-87.585,"41.773, -87.585","6717, South Cornell Avenue, Parkside, South Sh...","41.7734621,-87.5853716","41.7914546,-87.6000496",60649
3,3,44A4AEE261B9E854,electric_bike,2020-10-31 22:16:43,2020-10-31 22:19:35,Clark St & Grace St,165.0,Broadway & Sheridan Rd,256.0,41.950855,-87.659244,41.952809,-87.650103,casual,0,00:02:52,41.950,-87.659,"41.950, -87.659","3740-3742, North Clark Street, Wrigleyville, L...","41.9508548,-87.6592443","41.952809,-87.6501031",60613
4,4,10B7DD76A6A2EB95,electric_bike,2020-10-31 19:38:19,2020-10-31 19:54:32,Southport Ave & Wrightwood Ave,190.0,Stave St & Armitage Ave,185.0,41.928857,-87.663962,41.917777,-87.691434,casual,0,00:16:13,41.928,-87.663,"41.928, -87.663","2533, North Southport Avenue, Lincoln Park, Ch...","41.9288568,-87.663962","41.9177768,-87.6914336",60613

In [75]:
df1['zip_code'].value_counts()

60611    143
60614    100
60610     90
60601     82
60605     71
60617     69
60606     68
60607     68
60654     63
60622     62
60625     61
60613     61
60661     57
60612     56
60628     53
60657     52
60608     51
60637     50
60616     49
60620     49
60640     44
60619     43
60647     42
60609     42
60643     35
60604     34
60618     33
60615     33
60602     33
60626     31
60645     30
60624     28
60623     27
60632     26
60603     25
60629     25
60649     25
60634     24
60636     24
60651     24
60653     23
60644     23
60621     23
60641     22
60660     20
60642     19
60202     18
60201     18
60633     16
60655     16
s, IL     16
60630     13
60639     12
60659     12
60302     11
60827     10
 9020     10
60804     10
inois     10
60707      9
60208      9
46394      9
60696      8
60646      8
60652      7
60712      6
60638      6
60406      6
60803      6
60076      6
60091      6
90615      5
60402      5
60203      4
-4580      4
60409      4
60805      4
-6427      2
60472      2
46320      1
60453      1
60176      1
60304      1
Name: zip_code, dtype: int64

In [76]:
df1['zip_code'].nunique()

83

Some texts don't seem to have the zip code
 
* s, IL     16
* inois     10
*  9020     10
* 46394      9
* 90615      5
* -4580      4
* -6427      2
* 46320      1

Some of them are still in the US, but not in Illinois.

Some of them don't have a zip code at all.

## Wrong zip codes

The zip codes in Chicago starts with 60-, so I used regular expressions to find any zip codes that don't start with 60.

In [50]:
# https://www.guru99.com/python-dictionary-append.html
# lists in a dictionary
wrong_dict = {'index' : [], 'start_lat_lng': [], 'end_lat_lng': [], 'address' : [], 'zip_code' : []}

# https://www.geeksforgeeks.org/python-regex-cheat-sheet/
# https://pythonexamples.org/python-regex-check-if-string-starts-with-specific-word/
for i in range(len(df1)):
    # Find any zip code not starting with 60
    if re.search('^60', df1['zip_code'][i]) == None:
#     if re.search('.60', df1['full_address'][i]) == None: # wrong
        # Store their index, start_lat_lng, end_lat_lng, and full_address into err_dict
        wrong_dict['index'].append(df1['index'][i])
        wrong_dict['start_lat_lng'].append(df1['start_lat_lng'][i])
        wrong_dict['end_lat_lng'].append(df1['end_lat_lng'][i])
        wrong_dict['address'].append(df1['full_address'][i])
        wrong_dict['zip_code'].append(df1['zip_code'][i])
wrong_dict

{'index': [13,
  45,
  86,
  144,
  366,
  372,
  489,
  538,
  870,
  1055,
  1195,
  1350,
  1417,
  1638,
  1785,
  2225,
  2277,
  3094,
  3384,
  3645,
  3815,
  5358,
  6430,
  6499,
  7019,
  8841,
  9266,
  10727,
  10740,
  14526,
  14624,
  16412,
  25073,
  30244,
  33365,
  35668,
  42943,
  55094,
  64571,
  65674,
  403518,
  540503,
  725676,
  943854,
  1181800,
  1187825,
  1457772,
  2271890,
  2853240,
  3248483,
  3569667,
  3750105,
  4379438,
  4387295,
  4527112,
  4902131,
  5090477],
 'start_lat_lng': ['41.9691073,-87.6742151',
  '41.67,-87.66',
  '41.96,-87.64',
  '41.69,-87.53',
  '41.9633206,-87.6793091',
  '41.9098433,-87.7053461',
  '41.83,-87.6',
  '41.86,-87.61',
  '41.9671258,-87.6790515',
  '41.956048,-87.6804296',
  '41.8513816,-87.6188563',
  '41.8838115,-87.6238975',
  '41.8525165,-87.6265323',
  '41.7935036,-87.6158841',
  '41.8603026,-87.6259061',
  '41.6849586,-87.6453421',
  '41.8920213,-87.6894271',
  '41.853177,-87.6318415',
  '41.69,-87.52',
  '41.7,-87.53',
  '41.8568113,-87.633778',
  '41.81,-87.6',
  '41.8919821,-87.6893966',
  '41.8810513,-87.6301096',
  '41.98,-87.68',
  '41.84,-87.61',
  '41.8,-87.61',
  '41.81,-87.61',
  '41.7216101,-87.6227836',
  '41.8022498,-87.6180798',
  '41.85,-87.61',
  '41.71,-87.53',
  '41.885134,-87.6324005',
  '41.89,-87.7',
  '41.8580418,-87.6245085',
  '41.9689841,-87.6742771',
  '41.8604583,-87.6261731',
  '41.96,-87.63',
  '41.74,-87.68',
  '41.9690575,-87.6839075',
  '41.966996,-87.6790833',
  '41.8669656,-87.6259133',
  '41.851291,-87.6190055',
  '41.8568663,-87.634037',
  '41.7,-87.52',
  '41.66,-87.52',
  '41.9629955,-87.6850206',
  '41.8580313,-87.6407923',
  '41.8580141,-87.6141981',
  '41.8599218,-87.6258796',
  '41.68,-87.52',
  '41.8021945,-87.6179731',
  '41.67,-87.53',
  '41.68,-87.53',
  '41.9800176,-87.6819483',
  '41.8639456,-87.6240015',
  '41.66,-87.53'],
 'end_lat_lng': ['41.8816883,-87.6294188',
  '41.71,-87.57',
  '41.9639225,-87.6381561',
  '41.69,-87.53',
  '41.9394305,-87.7116701',
  '41.9433253,-87.6796156',
  '41.831283,-87.6087733',
  '41.8577125,-87.6195076',
  '41.935882,-87.6636343',
  '41.9289153,-87.663814',
  '41.894044,-87.617246',
  '41.8839918,-87.6241726',
  '41.907027,-87.667202',
  '41.7665416,-87.5764598',
  '41.87,-87.63',
  '41.6580513,-87.6107848',
  '41.8837745,-87.648743',
  '41.885383,-87.652314',
  '41.71,-87.56',
  '41.7282093,-87.5495583',
  '41.8677756,-87.6228816',
  '41.8,-87.59',
  '41.9,-87.69',
  '41.8675146,-87.6321693',
  '41.99,-87.66',
  '41.886004,-87.6249968',
  '41.79,-87.59',
  '41.7532715,-87.6050443',
  '41.71,-87.64',
  '41.8,-87.62',
  '41.86721,-87.6259385',
  '41.7,-87.53',
  '41.8704901,-87.6261618',
  '41.8835553,-87.632731',
  '41.8579566,-87.6245128',
  '41.9499138,-87.7139146',
  '41.8672806,-87.6152696',
  '41.9,-87.63',
  '41.71,-87.68',
  '41.9407041,-87.6391353',
  '41.9670415,-87.6675868',
  '41.88,-87.63',
  '41.896027,-87.6263603',
  '41.856832,-87.6339483',
  '41.7,-87.54',
  '41.66,-87.54',
  '41.9658096,-87.6455276',
  '41.8721525,-87.629825',
  '41.8919808,-87.6268106',
  '41.8694265,-87.6553833',
  '41.7,-87.53',
  '41.7995806,-87.5949185',
  '41.68,-87.54',
  '41.69,-87.53',
  '41.98,-87.68',
  '41.8865418,-87.6265611',
  '41.66,-87.55'],
 'address': ['4801-4809, North Ravenswood Avenue, Andersonville, Uptown, Chicago, Lake View Township, Cook County, Illinois, 9020, United States',
  'West Pullman, Calumet Park, Calumet Township, Cook County, Illinois, 60827-6427, United States',
  'West Montrose Harbor Drive, Uptown, Chicago, Lake View Township, Cook County, Illinois, United States',
  'Eggers Grove, Burnham Greenway Blue Paved Trail, Hegewisch, Chicago, Hyde Park Township, Cook County, Illinois, 46394, United States',
  '4449-4455, North Damen Avenue, West Ravenswood, Lincoln Square, Chicago, Lake View Township, Cook County, Illinois, 9020, United States',
  'Humboldt Park Lagoon, Luis Munoz Marin Drive, West Town, Chicago, Cook County, Illinois, 60622-4580, United States',
  'Oakland, Chicago, Cook County, Illinois, United States',
  'Near South Side, Chicago, Cook County, Illinois, United States',
  '4703-4705, North Damen Avenue, West Ravenswood, Lincoln Square, Chicago, Lake View Township, Cook County, Illinois, 9020, United States',
  '4101-4103, North Lincoln Avenue, North Center, Lincoln Square, Chicago, Lake View Township, Cook County, Illinois, 9020, United States',
  'McCormick Square, Near South Side, Chicago, Cook County, Illinois, IL, United States',
  'Chase Promenade Central, Loop, Chicago, Cook County, Illinois, United States',
  '2232, South Wabash Avenue, Near South Side, Chicago, Cook County, Illinois, IL, United States',
  'Washington Park, Chicago, Hyde Park Township, Cook County, Illinois, United States',
  '60, South Wabash Avenue, South Loop, Near South Side, Chicago, Cook County, Illinois, IL, United States',
  'Major Taylor Trail, Placerdale, West Pullman, Chicago, Lake Township, Cook County, Illinois, 60827-6427, United States',
  '2455, West Grand Avenue, West Town, Chicago, Cook County, Illinois, 60622-4580, United States',
  'Cermak-Chinatown Red Line Station, West Cermak Road, Chinatown, Armour Square, Chicago, Cook County, Illinois, IL, United States',
  '5th Avenue, Hammond, Lake County, Indiana, 46320, United States',
  '10729, South Avenue F, East Side, Hegewisch, Chicago, Hyde Park Township, Cook County, Illinois, 46394, United States',
  '1933, South Wells Street, South Branch Addition, Chinatown, Chicago, Cook County, Illinois, IL, United States',
  '1034-1036, East 47th Street, Kenwood, Chicago, Hyde Park Township, Cook County, Illinois, 90615, United States',
  '2441-2459, West Grand Avenue, West Town, Chicago, Cook County, Illinois, 60622-4580, United States',
  'Exelon Plaza, Loop, Chicago, Cook County, Illinois, United States',
  '5410, North Damen Avenue, Lincoln Square, Chicago, Lake View Township, Cook County, Illinois, 9020, United States',
  'South Moe Drive, Douglas, Chicago, Cook County, Illinois, IL, United States',
  'Ulysses S. Grant Boulder, East 51st Street, Washington Park, Chicago, Hyde Park Township, Cook County, Illinois, 90615, United States',
  '642-644, East 47th Street, Forestville, Grand Boulevard, Chicago, Hyde Park Township, Cook County, Illinois, 90615, United States',
  'Roseland, Chicago, Hyde Park Township, Cook County, Illinois, United States',
  '331, East 51st Street, Washington Park, Chicago, Hyde Park Township, Cook County, Illinois, 90615, United States',
  'McCormick Place Parking Lot C, South Fort Dearborn Drive, Near South Side, Chicago, Cook County, Illinois, IL, United States',
  'Chicago Skyway, East Side, Chicago, Hyde Park Township, Cook County, Illinois, 46394, United States',
  'Pedway, Loop, Chicago, Cook County, Illinois, United States',
  'Recycling Drop-Off Center, West Ferdinand Street, Humboldt Park, Chicago, Cook County, Illinois, 60622-4580, United States',
  '1737, South Michigan Avenue, South Loop, Near South Side, Chicago, Cook County, Illinois, IL, United States',
  '4737, North Ravenswood Avenue, Uptown, Chicago, Lake View Township, Cook County, Illinois, 9020, United States',
  '1600, South Wabash Avenue, South Loop, Near South Side, Chicago, Cook County, Illinois, IL, United States',
  'Montrose Breakwater, Uptown, Chicago, Lake View Township, Cook County, Illinois, United States',
  'Dan Ryan Black Paved Loop Trail, Ashburn, Chicago, Lake Township, Cook County, Illinois, United States',
  '2134, West Lawrence Avenue, West Ravenswood, Lincoln Square, Chicago, Lake View Township, Cook County, Illinois, 9020, United States',
  '4615-4633, North Damen Avenue, West Ravenswood, Lincoln Square, Chicago, Lake View Township, Cook County, Illinois, 9020, United States',
  '1255-1259, South Wabash Avenue, South Loop, Near South Side, Chicago, Cook County, Illinois, IL, United States',
  'McCormick Place, South Doctor Martin Luther King Junior Drive, Near South Side, Chicago, Cook County, Illinois, IL, United States',
  '1909, South Tom Parkway, South Branch Addition, Chinatown, Chicago, Cook County, Illinois, IL, United States',
  'Indianapolis Boulevard, Hammond, Lake County, Indiana, 46394, United States',
  '129th Street, Hammond, Lake County, Indiana, 46394, United States',
  '2217-2219, West Montrose Avenue, North Center, Lincoln Square, Chicago, Lake View Township, Cook County, Illinois, 9020, United States',
  '530, West 18th Street, Lower West Side, Chicago, Cook County, Illinois, IL, United States',
  'South Lot, South Burnham Harbor Drive, Near South Side, Chicago, Cook County, Illinois, IL, United States',
  '1639, South Wabash Avenue, South Loop, Near South Side, Chicago, Cook County, Illinois, IL, United States',
  'Illiana Marina Trail, Hammond, Lake County, Indiana, 46394, United States',
  '51st Street & King Drive, East 51st Street, Grand Boulevard, Chicago, Hyde Park Township, Cook County, Illinois, 90615, United States',
  'South State Line Road, Hegewisch, Chicago, Hyde Park Township, Cook County, Illinois, 46394, United States',
  'Burnham Greenway Black Paved Trail, Hegewisch, Chicago, Hyde Park Township, Cook County, Illinois, 46394, United States',
  '2031-2037, West Rascher Avenue, Lincoln Square, Chicago, Lake View Township, Cook County, Illinois, 9020, United States',
  '1439, South Michigan Avenue, South Loop, Near South Side, Chicago, Cook County, Illinois, IL, United States',
  'South State Line Road, Hegewisch, Chicago, Hyde Park Township, Cook County, Illinois, 46394, United States'],
 'zip_code': [' 9020',
  '-6427',
  'inois',
  '46394',
  ' 9020',
  '-4580',
  'inois',
  'inois',
  ' 9020',
  ' 9020',
  's, IL',
  'inois',
  's, IL',
  'inois',
  's, IL',
  '-6427',
  '-4580',
  's, IL',
  '46320',
  '46394',
  's, IL',
  '90615',
  '-4580',
  'inois',
  ' 9020',
  's, IL',
  '90615',
  '90615',
  'inois',
  '90615',
  's, IL',
  '46394',
  'inois',
  '-4580',
  's, IL',
  ' 9020',
  's, IL',
  'inois',
  'inois',
  ' 9020',
  ' 9020',
  's, IL',
  's, IL',
  's, IL',
  '46394',
  '46394',
  ' 9020',
  's, IL',
  's, IL',
  's, IL',
  '46394',
  '90615',
  '46394',
  '46394',
  ' 9020',
  's, IL',
  '46394']}

**df_wr_dict** contains the data with the wrong zip codes

In [51]:
# Convert err_dict into a DataFrame. easily accessible and looking better
df_wr_dict = pd.DataFrame(wrong_dict)
print(len(df_wr_dict))
df_wr_dict.head()

57

,index,start_lat_lng,end_lat_lng,address,zip_code
0,13,"41.9691073,-87.6742151","41.8816883,-87.6294188","4801-4809, North Ravenswood Avenue, Andersonvi...",9020
1,45,"41.67,-87.66","41.71,-87.57","West Pullman, Calumet Park, Calumet Township, ...",-6427
2,86,"41.96,-87.64","41.9639225,-87.6381561","West Montrose Harbor Drive, Uptown, Chicago, L...",inois
3,144,"41.69,-87.53","41.69,-87.53","Eggers Grove, Burnham Greenway Blue Paved Trai...",46394
4,366,"41.9633206,-87.6793091","41.9394305,-87.7116701","4449-4455, North Damen Avenue, West Ravenswood...",9020

In [77]:
df1['zip_code'].unique()

array(['60614', '60613', '60649', '60610', '60611', '60651', '60606',
       '60603', ' 9020', '60617', '60622', '60626', '60619', '60608',
       '60612', '60642', '60640', '-6427', '60601', '60657', '60641',
       '60647', '60632', '60602', 'inois', '60654', '60645', '60660',
       '60637', '60605', '60625', '60616', '60618', '60201', '60202',
       '46394', '60607', '60646', '60628', '60208', '60615', '60623',
       '60661', '60604', '60302', '60639', '-4580', '60624', '60696',
       '60653', '60636', '60620', '60659', '60629', '60621', '60609',
       '60644', '60630', 's, IL', '60643', '60638', '60409', '60633',
       '60827', '60712', '60652', '46320', '60634', '60203', '90615',
       '60655', '60076', '60402', '60091', '60707', '60804', '60803',
       '60805', '60406', '60453', '60472', '60176', '60304'], dtype=object)

In [53]:
df_wr_dict['zip_code'].value_counts()

s, IL    16
 9020    10
inois    10
46394     9
90615     5
-4580     4
-6427     2
46320     1
Name: zip_code, dtype: int64

In [78]:
df_wr_dict.isnull().sum()

index            0
start_lat_lng    0
end_lat_lng      0
address          0
zip_code         0
new_address      0
dtype: int64

If the coordinate doesn't have any zip code, then choose the nearest shop to get the zip code.

In [54]:
wr_dict_new_add = ['Ravenswood Ave & Lawrence Ave, Chicago, IL 60640, United States',
                   '12303 S Ashland Ave, Calumet Park, IL 60827, USA',
 'Uptown, Chicago, IL 60613, USA',
 '11251-11249 S Ave B, Chicago, IL 60617, USA',
 '2000-2018 W Sunnyside Ave, Chicago, IL 60625, USA',
'West Town, Chicago, IL 60651, USA',
 '3155 S Lake Shore Dr, Chicago, IL 60616, United States',
 'Parking lot, Chicago, IL 60605, USA',
 '4705 N Damen Ave, Chicago, IL 60625, USA',
 '4108 N Lincoln Ave, Chicago, IL 60618, USA',
 '301 E Cermak Rd, Chicago, IL 60616, USA',
 'Millennium Park, Chicago, IL 60601, USA',
 '12 E Cermak Rd, Chicago, IL 60616, USA',
 'MLK Jr Dr & 56th St, Chicago, IL 60612, United States',
 'Parking lot, Chicago, IL 60605, USA',
'Major Taylor Trail & 115th St, Chicago, IL 60643, USA',
'Smith Park, Chicago, IL 60612, USA',
 '2130 S Wentworth Ave, Chicago, IL 60616, USA',
 '11251-11249 S Ave B, Chicago, IL 60617, USA',
 '10733 S Ave F, Chicago, IL 60617, USA',
 'Armour Square, Chicago, IL 60616, USA',
 'E 47th St, Chicago, IL 60653, USA',
'Smith Park, Chicago, IL 60612, USA',
 '72 W Monroe St, Chicago, IL 60603, United States',
 '5410 N Damen Ave, Chicago, IL 60625, USA',
 '3050 Moe Dr, Chicago, IL 60616, USA',
 'Baseball Junior/Softball, Chicago, IL 60615, USA',
 'Bronzeville, Chicago, IL 60653, USA',
 'State St & 95th St, Chicago, IL 60619, United States',
 '5074 S Calumet Ave, Chicago, IL 60612, USA',
 'Chicago, IL 60616, United States',
 'East Side, Chicago, IL 60617, USA',
 '100 W Randolph St 2nd fl, Chicago, IL 60601, United States',
'2910 W Ferdinand St, Chicago, IL 60612, USA',
 '1736 S Michigan Ave, Chicago, IL 60616, USA',
 '4802 N Ravenswood Ave, Chicago, IL 60612, USA',
'Parking lot, Chicago, IL 60605, USA',
 'Chicago, IL 60640, United States',
 'Dan Ryan Woods Trails, Chicago, IL 60620, USA',
 '2150 W Lawrence Ave, Chicago, IL 60625, USA',
 'Damen Ave & Leland Ave, Chicago, IL 60625, United States',
 'Chicago, IL 60605, United States',
 'McCormick Place, Chicago, IL 60616, United States',
 'Wells St & 19th St, Chicago, IL 60616, United States',
 '11251-11249 S Ave B, Chicago, IL 60617, USA',
 '11251-11249 S Ave B, Chicago, IL 60617, USA',
 'Lincoln Ave & Sunnyside Ave, Chicago, IL 60625, United States',
 '1719 S Clinton St, Chicago, IL 60616, USA',
 'Museum Campus, Chicago, IL 60605, USA',
 'Parking lot, Chicago, IL 60616, USA',
 'Chicago, IL 60633, United States',
 '338 E 51st St, Chicago, IL 60615, USA',
 'S Wolf Lake Blvd, Chicago, IL 60633, United States',
 'Chicago, IL 60633, United States',
 '5420-5400 N Hoyne Ave, Chicago, IL 60625, USA',
 '1400-1414 Michigan Ave, Chicago, IL 60605, USA',
 'Chicago, IL 60633, USA']

In [55]:
df_wr_dict['new_address'] = wr_dict_new_add
# df_wr_dict = df_wr_dict.drop(columns = 'new_add')
df_wr_dict.head()

,index,start_lat_lng,end_lat_lng,address,zip_code,new_address
0,13,"41.9691073,-87.6742151","41.8816883,-87.6294188","4801-4809, North Ravenswood Avenue, Andersonvi...",9020,"Ravenswood Ave & Lawrence Ave, Chicago, IL 606..."
1,45,"41.67,-87.66","41.71,-87.57","West Pullman, Calumet Park, Calumet Township, ...",-6427,"12303 S Ashland Ave, Calumet Park, IL 60827, USA"
2,86,"41.96,-87.64","41.9639225,-87.6381561","West Montrose Harbor Drive, Uptown, Chicago, L...",inois,"Uptown, Chicago, IL 60613, USA"
3,144,"41.69,-87.53","41.69,-87.53","Eggers Grove, Burnham Greenway Blue Paved Trai...",46394,"11251-11249 S Ave B, Chicago, IL 60617, USA"
4,366,"41.9633206,-87.6793091","41.9394305,-87.7116701","4449-4455, North Damen Avenue, West Ravenswood...",9020,"2000-2018 W Sunnyside Ave, Chicago, IL 60625, USA"

In [62]:
# Replace United States to USA
df_wr_dict['new_address'] = df_wr_dict['new_address'].replace('.United States', ' USA', regex=True)

# Check if all the word have changed 
for i in range(len(df_wr_dict)):
    if re.search('.United States', df_wr_dict['new_address'][i]) != None:
        print(i)

In [61]:
df_wr_dict['new_address'].head()

0    Ravenswood Ave & Lawrence Ave, Chicago, IL 606...
1     12303 S Ashland Ave, Calumet Park, IL 60827, USA
2                       Uptown, Chicago, IL 60613, USA
3          11251-11249 S Ave B, Chicago, IL 60617, USA
4    2000-2018 W Sunnyside Ave, Chicago, IL 60625, USA
Name: new_address, dtype: object

In [63]:
# Check the new zip codes
df_wr_dict['zip_code'] = df_wr_dict['new_address'].str[-10:-5]
df_wr_dict['zip_code'].value_counts()

60616    12
60625     7
60612     6
60617     6
60605     6
60633     4
60615     2
60653     2
60640     2
60601     2
60827     1
60618     1
60643     1
60651     1
60603     1
60613     1
60619     1
60620     1
Name: zip_code, dtype: int64

In [64]:
df_wr_dict.head()

,index,start_lat_lng,end_lat_lng,address,zip_code,new_address
0,13,"41.9691073,-87.6742151","41.8816883,-87.6294188","4801-4809, North Ravenswood Avenue, Andersonvi...",60640,"Ravenswood Ave & Lawrence Ave, Chicago, IL 606..."
1,45,"41.67,-87.66","41.71,-87.57","West Pullman, Calumet Park, Calumet Township, ...",60827,"12303 S Ashland Ave, Calumet Park, IL 60827, USA"
2,86,"41.96,-87.64","41.9639225,-87.6381561","West Montrose Harbor Drive, Uptown, Chicago, L...",60613,"Uptown, Chicago, IL 60613, USA"
3,144,"41.69,-87.53","41.69,-87.53","Eggers Grove, Burnham Greenway Blue Paved Trai...",60617,"11251-11249 S Ave B, Chicago, IL 60617, USA"
4,366,"41.9633206,-87.6793091","41.9394305,-87.7116701","4449-4455, North Damen Avenue, West Ravenswood...",60625,"2000-2018 W Sunnyside Ave, Chicago, IL 60625, USA"

In [66]:
print(len(df1), # 2405
      len(df_wr_dict)) # 57

2405 57

In [67]:
df_wr_dict.isnull().sum()

index            0
start_lat_lng    0
end_lat_lng      0
address          0
zip_code         0
new_address      0
dtype: int64

In [79]:
print(df1['zip_code'].nunique())
print(df1['zip_code'].unique())

83
['60614' '60613' '60649' '60610' '60611' '60651' '60606' '60603' ' 9020'
 '60617' '60622' '60626' '60619' '60608' '60612' '60642' '60640' '-6427'
 '60601' '60657' '60641' '60647' '60632' '60602' 'inois' '60654' '60645'
 '60660' '60637' '60605' '60625' '60616' '60618' '60201' '60202' '46394'
 '60607' '60646' '60628' '60208' '60615' '60623' '60661' '60604' '60302'
 '60639' '-4580' '60624' '60696' '60653' '60636' '60620' '60659' '60629'
 '60621' '60609' '60644' '60630' 's, IL' '60643' '60638' '60409' '60633'
 '60827' '60712' '60652' '46320' '60634' '60203' '90615' '60655' '60076'
 '60402' '60091' '60707' '60804' '60803' '60805' '60406' '60453' '60472'
 '60176' '60304']

In [69]:
print(df_wr_dict['zip_code'].nunique())
print(df_wr_dict['zip_code'].unique())

18
['60640' '60827' '60613' '60617' '60625' '60651' '60616' '60605' '60618'
 '60601' '60612' '60643' '60653' '60603' '60615' '60619' '60620' '60633']

In [642]:
df_wr_dict['index'].unique()

array([     13,      45,      86,     144,     366,     372,     489,
           538,     870,    1055,    1195,    1350,    1417,    1638,
          1785,    2225,    2277,    3094,    3384,    3645,    3815,
          5358,    6430,    6499,    7019,    8841,    9266,   10727,
         10740,   14526,   14624,   16412,   25073,   30244,   33365,
         35668,   42943,   55094,   64571,   65674,  403518,  540503,
        725676,  943854, 1181800, 1187825, 1457772, 2271890, 2853240,
       3248483, 3569667, 3750105, 4379438, 4387295, 4527112, 4902131,
       5090477], dtype=int64)

## When dealing with a copy of df

https://towardsdatascience.com/how-to-suppress-settingwithcopywarning-in-pandas-c0c759bd0f10

The 1. and 2. code do the same thing, but the first code gives a warning message, while the second dosen't. 

1. df1['zip_code'].loc[df1['index'] == i] = df_wr_dict['zip_code'].loc[df_wr_dict['index'] == i][row_no]
2. df1.loc[df1['index'] == i, 'zip_code'] = df_wr_dict.loc[df_wr_dict['index'] == i, 'zip_code'][row_no]

In [142]:
# To extract a value from selected entities, I need to specify their row numbers
# Wihout out it, it returns nan 
row_no = 0

for i in df_wr_dict['index']:
#     df1['zip_code'].loc[df1['index'] == i] = df_wr_dict['zip_code'].loc[df_wr_dict['index'] == i][row_no]
    df1.loc[df1['index'] == i, 'zip_code'] = df_wr_dict.loc[df_wr_dict['index'] == i, 'zip_code'][row_no]
    row_no += 1

In [143]:
# At last, I have all zip codes that I need 
print(df1['zip_code'].nunique())
print(df1['zip_code'].unique())

75
['60614' '60613' '60649' '60610' '60611' '60651' '60606' '60603' '60640'
 '60617' '60622' '60626' '60619' '60608' '60612' '60642' '60827' '60601'
 '60657' '60641' '60647' '60632' '60602' '60654' '60645' '60660' '60637'
 '60605' '60625' '60616' '60618' '60201' '60202' '60607' '60646' '60628'
 '60208' '60615' '60623' '60661' '60604' '60302' '60639' '60624' '60696'
 '60653' '60636' '60620' '60659' '60629' '60621' '60609' '60644' '60630'
 '60643' '60638' '60409' '60633' '60712' '60652' '60634' '60203' '60655'
 '60076' '60402' '60091' '60707' '60804' '60803' '60805' '60406' '60453'
 '60472' '60176' '60304']

In [83]:
df1.to_csv('df1_code.csv')

# Fill the zip code to the whole DF

As I used the unique values in the column *lat_lng_short to find zip code, 

based on the values in *lat_lng_short* in *df1* match the values in *lat_lng_short* in *df2*

In [157]:
# Make df2 a copy of df
df2 = df.loc[:]
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5136261 entries, 0 to 5136260
Data columns (total 19 columns):
 #   Column              Dtype
---  ------              -----
 0   no                  int64
 1   ride_id             object
 2   rideable_type       object
 3   started_at          object
 4   ended_at            object
 5   start_station_name  object
 6   start_station_id    object
 7   end_station_name    object
 8   end_station_id      object
 9   start_lat           float64
 10  start_lng           float64
 11  end_lat             float64
 12  end_lng             float64
 13  member_casual       object
 14  riding_days         int64
 15  riding_time         object
 16  start_lat_short     object
 17  start_lng_short     object
 18  lat_lng_short       object
dtypes: float64(4), int64(2), object(13)
memory usage: 744.5+ MB

In [173]:
for i in range(1):
    print(i)

0

In [174]:
df2['zip_code'] = 0
row_no = 0
# 1331 - 
for i in df1['lat_lng_short']:
    print(row_no)
    df2.loc[df['lat_lng_short'] == i, 'zip_code'] = df1.loc[df1['lat_lng_short'] == i, 'zip_code'][row_no]
#         print(df2.loc[df['lat_lng_short'] == a, 'zip_code'])
    row_no += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861

1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2064
2065
2066
2067
2068
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
2100
2101
2102
2103
2104
2105
2106
2107
2108
2109
2110
2111
2112
2113
2114
2115
2116
2117
2118
2119
2120
2121
2122
2123
2124
2125
2126
2127
2128
2129
2130
2131
2132
2133
2134
2135
2136
2137
2138
2139
2140
2141
2142
2143
2144
2145
2146
2147
2148
2149
2150
2151
2152
2153
2154
2155
2156
2157
2158
2159
2160
2161
2162
2163
2164
2165
2166
2167
2168
2169
2170
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2181
2182
2183
2184
2185
2186
2187
2188
2189
2190
2191
2192
2193
2194
2195
2196
2197
2198
2199
2200
2201
2202
2203
2204
2205
2206
2207
2208
2209
2210
2211
2212
2213
2214
2215
2216
2217
2218
2219
2220
2221
2222
2223
2224
2225
2226
2227
2228
2229
2230
2231
2232
2233
2234
2235
2236
2237
2238
2239
2240
2241
2242
2243
2244
2245
2246
2247
2248
2249
2250
2251
2252
2253
2254
2255
2256
2257
2258
2259
2260
2261
2262
2263
2264
2265
2266
2267
2268
2269
2270
2271
2272
2273
2274
2275
2276
2277
2278
2279
2280
2281
2282
2283
2284
2285
2286
2287
2288
2289
2290
2291
2292
2293
2294
2295
2296
2297
2298
2299
2300
2301
2302
2303
2304
2305
2306
2307
2308
2309
2310
2311
2312
2313
2314
2315
2316
2317
2318
2319
2320
2321
2322
2323
2324
2325
2326
2327
2328
2329
2330
2331
2332
2333
2334
2335
2336
2337
2338
2339
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
2356
2357
2358
2359
2360
2361
2362
2363
2364
2365
2366
2367
2368
2369
2370
2371
2372
2373
2374
2375
2376
2377
2378
2379
2380
2381
2382
2383
2384
2385
2386
2387
2388
2389
2390
2391
2392
2393
2394
2395
2396
2397
2398
2399
2400
2401
2402
2403
2404

In [176]:
df2.isnull().sum()

no                         0
ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    523467
start_station_id      523781
end_station_name      567268
end_station_id        567501
start_lat                  0
start_lng                  0
end_lat                 4821
end_lng                 4821
member_casual              0
riding_days                0
riding_time                0
start_lat_short            0
start_lng_short            0
lat_lng_short              0
zip_code                   0
dtype: int64

In [184]:
len(df2[df2['riding_days'] > 0])

3967

In [191]:
df2 = df2.loc[df2['riding_days'] == 0]
print(len(df), len(df2))

5136261 5132294

In [192]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5132294 entries, 0 to 5136260
Data columns (total 20 columns):
 #   Column              Dtype
---  ------              -----
 0   no                  int64
 1   ride_id             object
 2   rideable_type       object
 3   started_at          object
 4   ended_at            object
 5   start_station_name  object
 6   start_station_id    object
 7   end_station_name    object
 8   end_station_id      object
 9   start_lat           float64
 10  start_lng           float64
 11  end_lat             float64
 12  end_lng             float64
 13  member_casual       object
 14  riding_days         int64
 15  riding_time         object
 16  start_lat_short     object
 17  start_lng_short     object
 18  lat_lng_short       object
 19  zip_code            object
dtypes: float64(4), int64(2), object(14)
memory usage: 822.3+ MB

In [194]:
df2 = df2.drop(columns = ['no', 'start_lat_short', 'start_lng_short', 'lat_lng_short'])
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5132294 entries, 0 to 5136260
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  riding_days         int64
 14  riding_time         object
 15  zip_code            object
dtypes: float64(4), int64(1), object(11)
memory usage: 665.7+ MB

In [195]:
df2.to_csv('Cyclistic_202010_202109_zip_code.csv')

In [5]:
# df2 = pd.read_csv('Cyclistic_202010_202109_zip_code.csv')
df2 = pd.read_csv('Cyclistic_202010_202109_zip_code_Tableau.csv')
df2.head()

,day_of_week,End Station Id,End Station Name,Ended At,Member Casual,Ride Id,Rideable Type,Riding Time,season,Start Station Id,Start Station Name,Started At,Zip Code,classic_bike,docked_bike,electrict_bike,End Lat,End Lng,F1,Riding Days,riding_time,Start Lat,Start Lng,test
0,Friday,NaN,Central St & Girard Ave,26/03/2021 4:28:58 PM,casual,56A8B5FB254C94A8,classic_bike,30/12/1899 12:02:15 AM,SPRING,NaN,Central St & Girard Ave,26/03/2021 4:26:43 PM,60201,100,0,0,42.064313,-87.686152,1069469,0,2.250000,42.064313,-87.686152,12
1,Sunday,NaN,Chicago Ave & Sheridan Rd,21/03/2021 12:34:04 AM,casual,A590F743136B3155,classic_bike,30/12/1899 12:07:54 AM,SPRING,NaN,Central St & Girard Ave,21/03/2021 12:26:10 AM,60201,100,0,0,42.050491,-87.677821,1120787,0,7.900000,42.064313,-87.686152,12
2,Saturday,NaN,Chicago Ave & Sheridan Rd,27/03/2021 11:57:42 PM,casual,B31A34D7687BCCB6,classic_bike,30/12/1899 12:09:31 AM,SPRING,NaN,Central St & Girard Ave,27/03/2021 11:48:11 PM,60201,100,0,0,42.050491,-87.677821,1120786,0,9.516667,42.064313,-87.686152,12
3,Tuesday,NaN,Chicago Ave & Sheridan Rd,30/03/2021 12:49:23 AM,casual,EC02351300FB9ACA,classic_bike,30/12/1899 12:10:59 AM,SPRING,NaN,Central St & Girard Ave,30/03/2021 12:38:24 AM,60201,100,0,0,42.050491,-87.677821,1120758,0,10.983333,42.064313,-87.686152,12
4,Friday,NaN,Chicago Ave & Washington St,19/03/2021 4:08:50 PM,casual,EBB287674E81F7F2,classic_bike,30/12/1899 12:25:59 AM,WINTER,NaN,Central St & Girard Ave,19/03/2021 3:42:51 PM,60201,100,0,0,42.032562,-87.679101,1075926,0,25.983333,42.064313,-87.686152,12

In [20]:
df2.isnull().sum()

day_of_week                 0
End Station Id        2772035
End Station Name       565018
Ended At                    0
Member Casual               0
Ride Id                     0
Rideable Type               0
Riding Time                 0
season                      0
Start Station Id      2745978
Start Station Name     523426
Started At                  0
Zip Code                    0
classic_bike                0
docked_bike                 0
electrict_bike              0
End Lat                  2661
End Lng                  2661
F1                          0
Riding Days                 0
riding_time                 0
Start Lat                   0
Start Lng                   0
test                        0
dtype: int64

Drop null End Lat and Lng

In [22]:
len(df2)

5132294

In [41]:
len(df2.loc[(df2['End Lat'].isnull()) | (df2['End Lng'].isnull())])

2661

In [42]:
5132294 - 2661

5129633

In [40]:
len(df2.dropna(axis = 0, subset = ['End Lat', 'End Lng']))

5129633

In [43]:
df2 = df2.dropna(axis = 0, subset = ['End Lat', 'End Lng'])
df2.isnull().sum()

day_of_week                 0
End Station Id        2769374
End Station Name       562357
Ended At                    0
Member Casual               0
Ride Id                     0
Rideable Type               0
Riding Time                 0
season                      0
Start Station Id      2744856
Start Station Name     523426
Started At                  0
Zip Code                    0
classic_bike                0
docked_bike                 0
electrict_bike              0
End Lat                     0
End Lng                     0
F1                          0
Riding Days                 0
riding_time                 0
Start Lat                   0
Start Lng                   0
test                        0
dtype: int64

In [7]:
df2.columns

Index(['day_of_week', 'End Station Id', 'End Station Name', 'Ended At',
       'Member Casual', 'Ride Id', 'Rideable Type', 'Riding Time', 'season',
       'Start Station Id', 'Start Station Name', 'Started At', 'Zip Code',
       'classic_bike', 'docked_bike', 'electrict_bike', 'End Lat', 'End Lng',
       'F1', 'Riding Days', 'riding_time', 'Start Lat', 'Start Lng', 'test'],
      dtype='object')

# Define df3

In [130]:
df3 = df2.loc[:,('Start Lat', 'Start Lng', 'Zip Code', 'End Lat', 'End Lng')].astype(str)
df3['start_lat_lng'] = df3.loc[:, 'Start Lat'].str[:6]+', '+df3.loc[:, 'Start Lng'].str[:7]
df3['end_lat_lng'] = df3.loc[:, 'End Lat'].str[:6]+', '+df3.loc[:, 'End Lng'].str[:7]
df3.head()

,Start Lat,Start Lng,Zip Code,End Lat,End Lng,start_lat_lng,end_lat_lng
0,42.064313,-87.686152,60201,42.064313,-87.686152,"42.064, -87.686","42.064, -87.686"
1,42.064313,-87.686152,60201,42.050491,-87.677821,"42.064, -87.686","42.050, -87.677"
2,42.064313,-87.686152,60201,42.050491,-87.677821,"42.064, -87.686","42.050, -87.677"
3,42.064313,-87.686152,60201,42.050491,-87.677821,"42.064, -87.686","42.050, -87.677"
4,42.064313,-87.686152,60201,42.032562,-87.679101,"42.064, -87.686","42.032, -87.679"

In [133]:
df3['end_lat_lng'].nunique()

6801

In [140]:
# Drop duplicates of end_lat_lng
df3 = df3.drop_duplicates(subset = 'end_lat_lng')
df3 = df3.reset_index()
df3.head()

,index,Start Lat,Start Lng,Zip Code,End Lat,End Lng,start_lat_lng,end_lat_lng
0,0,42.064313,-87.686152,60201,42.064313,-87.686152,"42.064, -87.686","42.064, -87.686"
1,1,42.064313,-87.686152,60201,42.050491,-87.677821,"42.064, -87.686","42.050, -87.677"
2,4,42.064313,-87.686152,60201,42.032562,-87.679101,"42.064, -87.686","42.032, -87.679"
3,6,42.063598,-87.69873,60201,42.063598,-87.69873,"42.063, -87.698","42.063, -87.698"
4,10,42.063598,-87.69873,60201,41.96167,-87.65464,"42.063, -87.698","41.961, -87.654"

In [131]:
print(len(df3))
df3.isnull().sum()

5129633

Start Lat        0
Start Lng        0
Zip Code         0
End Lat          0
End Lng          0
start_lat_lng    0
end_lat_lng      0
dtype: int64

In [47]:
df3['start_lat_lng'] = df3.loc[:, 'Start Lat'].str[:6]+', '+df3.loc[:, 'Start Lng'].str[:7]
df3['end_lat_lng'] = df3.loc[:, 'End Lat'].str[:6]+', '+df3.loc[:, 'End Lng'].str[:7]

df3.head()

,Start Lat,Start Lng,Zip Code,End Lat,End Lng,start_lat_lng,end_lat_lng
0,42.064313,-87.686152,60201,42.064313,-87.686152,"42.064, -87.686","42.064, -87.686"
1,42.064313,-87.686152,60201,42.050491,-87.677821,"42.064, -87.686","42.050, -87.677"
2,42.064313,-87.686152,60201,42.050491,-87.677821,"42.064, -87.686","42.050, -87.677"
3,42.064313,-87.686152,60201,42.050491,-87.677821,"42.064, -87.686","42.050, -87.677"
4,42.064313,-87.686152,60201,42.032562,-87.679101,"42.064, -87.686","42.032, -87.679"

In [48]:
print(df3['start_lat_lng'].nunique(), df3['end_lat_lng'].nunique())

2405 6801

I manually searched every lat and len in df_err_dict. 

Because I think it was the best solution I could come up with at this moment...

In [122]:
crr_add = ['Ravenswood Ave & Lawrence Ave, Chicago, IL 60640, United States',
 '12303 S Ashland Ave, Calumet Park, IL 60827, United States',
 'Uptown, Chicago, IL 60613, United States',
 '11251-11249 S Ave B, Chicago, IL 60617, United States',
 '1736 S Michigan Ave, Chicago, IL 60616, United States',
 '2000-2018 W Sunnyside Ave, Chicago, IL 60625, USA',
 'Douglas, Chicago, IL 60616, USA',
 '301 E Cermak Rd, Chicago, IL 60616, USA',
 '12 E Cermak Rd, Chicago, IL 60616, USA',
 'Major Taylor Trail & 115th St, Chicago, IL 60643, United States',
 '10729 S Ave F, Chicago, IL 60617, USA',
 'Parking lot, Chicago, IL 60616, USA']

['Ravenswood Ave & Lawrence Ave, Chicago, IL 60640, United States',
 '12303 S Ashland Ave, Calumet Park, IL 60827, United States',
 'Uptown, Chicago, IL 60613, United States',
 '11251-11249 S Ave B, Chicago, IL 60617, United States',
 '1736 S Michigan Ave, Chicago, IL 60616, United States',
 '2000-2018 W Sunnyside Ave, Chicago, IL 60625, USA',
 'Douglas, Chicago, IL 60616, USA',
 '301 E Cermak Rd, Chicago, IL 60616, USA',
 '12 E Cermak Rd, Chicago, IL 60616, USA',
 'Major Taylor Trail & 115th St, Chicago, IL 60643, United States',
 '10729 S Ave F, Chicago, IL 60617, USA',
 'Parking lot, Chicago, IL 60616, USA']

In [85]:
# Add crr_add to df_err_dict
df_err_dict['crr_add'] = crr_add
df_err_dict

,index,lat_lng,text,crr_add
0,13,"41.969107, -87.674215","Ravenswood Ave & Lawrence Ave, North Ravenswoo...","Ravenswood Ave & Lawrence Ave, Chicago, IL 606..."
1,29,"41.67, -87.66","West Pullman, Calumet Park, Calumet Township, ...","12303 S Ashland Ave, Calumet Park, IL 60827, U..."
2,50,"41.96, -87.64","West Montrose Harbor Drive, Uptown, Chicago, L...","Uptown, Chicago, IL 60613, United States"
3,78,"41.69, -87.53","Eggers Grove, Burnham Greenway Blue Paved Trai...","11251-11249 S Ave B, Chicago, IL 60617, United..."
4,102,"41.857881, -87.624555","70, East 18th Street, South Loop, Near South S...","1736 S Michigan Ave, Chicago, IL 60616, United..."
5,132,"41.963320, -87.679309","Damen Ave & Sunnyside Ave, West Sunnyside Aven...","2000-2018 W Sunnyside Ave, Chicago, IL 60625, USA"
6,146,"41.83, -87.6","Oakland, Chicago, Cook County, Illinois, Unite...","Douglas, Chicago, IL 60616, USA"
7,186,"41.851381, -87.618856","McCormick Place, South Doctor Martin Luther Ki...","301 E Cermak Rd, Chicago, IL 60616, USA"
8,193,"41.852516, -87.626532","Cermak-McCormick Place, East Cermak Road, Near...","12 E Cermak Rd, Chicago, IL 60616, USA"
9,209,"41.684958, -87.645342","Major Taylor Trail, Placerdale, West Pullman, ...","Major Taylor Trail & 115th St, Chicago, IL 606..."
10,232,"41.7, -87.53","10729, South Avenue F, East Side, Hegewisch, C...","10729 S Ave F, Chicago, IL 60617, USA"
11,323,"41.859984, -87.626211","1600, South Wabash Avenue, South Loop, Near So...","Parking lot, Chicago, IL 60616, USA"

(1) re.search('.60', df_err_dict['crr_add'][0]).span() says that its zip code position is (42, 45),
but (2) the actual position is (43, 48), so add 1 to start and 3 to end.

(1)
* re.search('.60', df_err_dict['crr_add'][0]).span()[0] --> output = (42)
* re.search('.60', df_err_dict['crr_add'][0]).span()[1] --> output = (45)

(2) the actual (43:48), start +1, end +3
* re.search('.60', df_err_dict['crr_add'][0]).span()[0]+1 --> output = (42+3) = (45)
* re.search('.60', df_err_dict['crr_add'][0]).span()[1]+3 --> output = (45+3) = (48)

In [123]:
# Check if the start and end position are right
print(df_err_dict['crr_add'][0][42:45])
print(df_err_dict['crr_add'][0][43:48]) # (42, 45), actual (43:48), start +1, end +3

 60
60640

In [116]:
zip_code = []

# Find the zip code position in the address
for i in range(len(df_err_dict['crr_add'])):
    if re.search('.60', df_err_dict['crr_add'][i]) != None:
        # Extract start and end position
        start = re.search('.60', df_err_dict['crr_add'][i]).span()[0]+1 # start
        end = re.search('.60', df_err_dict['crr_add'][i]).span()[1]+3 # end
        # Add to the list
        zip_code.append(df_err_dict['crr_add'][i][start:end])

zip_code

['60640',
 '60827',
 '60613',
 '60617',
 '60616',
 '60625',
 '60616',
 '60616',
 '60616',
 '60643',
 '60617',
 '60616']

In [121]:
df_err_dict['zip_code'] = zip_code
df_err_dict

,index,lat_lng,text,crr_add,zip_code
0,13,"41.969107, -87.674215","Ravenswood Ave & Lawrence Ave, North Ravenswoo...","Ravenswood Ave & Lawrence Ave, Chicago, IL 606...",60640
1,29,"41.67, -87.66","West Pullman, Calumet Park, Calumet Township, ...","12303 S Ashland Ave, Calumet Park, IL 60827, U...",60827
2,50,"41.96, -87.64","West Montrose Harbor Drive, Uptown, Chicago, L...","Uptown, Chicago, IL 60613, United States",60613
3,78,"41.69, -87.53","Eggers Grove, Burnham Greenway Blue Paved Trai...","11251-11249 S Ave B, Chicago, IL 60617, United...",60617
4,102,"41.857881, -87.624555","70, East 18th Street, South Loop, Near South S...","1736 S Michigan Ave, Chicago, IL 60616, United...",60616
5,132,"41.963320, -87.679309","Damen Ave & Sunnyside Ave, West Sunnyside Aven...","2000-2018 W Sunnyside Ave, Chicago, IL 60625, USA",60625
6,146,"41.83, -87.6","Oakland, Chicago, Cook County, Illinois, Unite...","Douglas, Chicago, IL 60616, USA",60616
7,186,"41.851381, -87.618856","McCormick Place, South Doctor Martin Luther Ki...","301 E Cermak Rd, Chicago, IL 60616, USA",60616
8,193,"41.852516, -87.626532","Cermak-McCormick Place, East Cermak Road, Near...","12 E Cermak Rd, Chicago, IL 60616, USA",60616
9,209,"41.684958, -87.645342","Major Taylor Trail, Placerdale, West Pullman, ...","Major Taylor Trail & 115th St, Chicago, IL 606...",60643
10,232,"41.7, -87.53","10729, South Avenue F, East Side, Hegewisch, C...","10729 S Ave F, Chicago, IL 60617, USA",60617
11,323,"41.859984, -87.626211","1600, South Wabash Avenue, South Loop, Near So...","Parking lot, Chicago, IL 60616, USA",60616

In [259]:
# copy df1
df2 = df1[:]

In [234]:
import pdb

In [ ]:
df2['zip_code'].value_counts().sum()

In [336]:
# Change the wrong data in df2 to the correct data in df_err_dict
add = 0
for i in df_err_dict['index']:
#     pdb.set_trace()
    df2['zip_code'].loc[df2.index == i] = df_err_dict['zip_code'].loc[df_err_dict['index'] == i][add]
    add += 1

In [372]:
df['lat_lng_short'].nunique()

2405

In [379]:
df_set = set(df['lat_lng_short'])
df2_set = set(set(df2['lat_lng_short']))

len(df2_set & df_set) # set intersection

330

In [381]:
# prints the missing and additional elements in list1
# print("Missing values in first list:", (set(df2_set).difference(df_set)))
print("Additional values in first list:", (set(df_set).difference(df2_set)))

Additional values in first list: {'41.780, -87.615', '41.948, -87.740', '41.89, -87.6', '41.906, -87.634', '41.958, -87.649', '41.883, -87.626', '41.884, -87.638', '41.872, -87.746', '41.84, -87.76', '41.956, -87.669', '41.780, -87.591', '41.7, -87.71', '41.895, -87.634', '41.939, -87.645', '41.878, -87.649', '41.64, -87.62', '41.895, -87.627', '41.814, -87.597', '41.7, -87.72', '41.867, -87.622', '41.799, -87.587', '41.97, -87.71', '41.854, -87.663', '41.84, -87.77', '41.896, -87.631', '41.85, -87.61', '41.68, -87.57', '41.69, -87.54', '41.858, -87.656', '41.853, -87.620', '41.94, -87.8', '41.877, -87.634', '41.895, -87.624', '41.879, -87.638', '41.887, -87.620', '41.896, -87.621', '41.82, -87.66', '41.897, -87.622', '41.89, -87.65', '41.881, -87.639', '41.904, -87.631', '41.929, -87.642', '41.81, -87.64', '41.7, -87.54', '41.874, -87.627', '41.94, -87.74', '42.01, -87.7', '41.912, -87.634', '41.880, -87.617', '41.87, -87.69', '41.92, -87.71', '41.893, -87.639', '41.903, -87.683', '41.751, -87.565', '41.890, -87.629', '41.863, -87.624', '41.866, -87.626', '41.799, -87.657', '41.83, -87.63', '41.871, -87.661', '41.896, -87.634', '41.967, -87.679', '41.794, -87.655', '41.753, -87.604', '41.69, -87.61', '41.78, -87.66', '41.872, -87.624', '41.83, -87.7', '41.957, -87.673', '41.870, -87.626', '41.97, -87.72', '41.960, -87.735', '41.903, -87.697', '41.765, -87.611', '41.889, -87.626', '41.877, -87.642', '41.787, -87.589', '41.969, -87.657', '41.876, -87.629', '41.69, -87.68', '41.889, -87.625', '41.7, -87.62', '41.8, -87.64', '41.73, -87.64', '41.657, -87.598', '41.751, -87.553', '41.92, -87.63', '41.883, -87.661', '41.900, -87.642', '41.913, -87.653', '41.74, -87.67', '41.851, -87.619', '41.883, -87.629', '42.019, -87.689', '41.899, -87.648', '42.012, -87.688', '41.994, -87.687', '42.02, -87.71', '41.935, -87.669', '41.896, -87.623', '41.7, -87.59', '41.887, -87.765', '41.902, -87.630', '41.885, -87.617', '41.899, -87.625', '41.76, -87.71', '41.879, -87.639', '41.886, -87.658', '41.91, -87.81', '42.03, -87.68', '41.857, -87.668', '41.940, -87.651', '41.757, -87.549', '41.886, -87.617', '41.86, -87.75', '41.67, -87.54', '41.901, -87.622', '41.881, -87.640', '41.85, -87.75', '41.878, -87.654', '41.77, -87.61', '41.77, -87.63', '41.895, -87.632', '41.89, -87.73', '41.79, -87.68', '41.830, -87.656', '41.791, -87.600', '41.885, -87.716', '41.89, -87.69', '41.99, -87.69', '41.928, -87.653', '41.81, -87.69', '41.98, -87.72', '41.961, -87.728', '41.891, -87.627', '41.903, -87.630', '41.87, -87.66', '41.962, -87.685', '41.92, -87.66', '41.870, -87.673', '41.9, -87.78', '41.939, -87.659', '41.881, -87.638', '41.896, -87.629', '42.01, -87.68', '41.882, -87.619', '41.930, -87.655', '41.881, -87.635', '41.894, -87.633', '41.900, -87.629', '41.946, -87.731', '41.96, -87.74', '41.92, -87.78', '41.794, -87.675', '41.65, -87.6', '41.87, -87.75', '41.937, -87.643', '41.92, -87.77', '41.842, -87.616', '41.876, -87.627', '41.875, -87.633', '41.890, -87.634', '41.907, -87.625', '41.890, -87.630', '41.954, -87.718', '41.81, -87.6', '41.93, -87.76', '41.925, -87.649', '41.66, -87.6', '41.895, -87.706', '41.947, -87.739', '41.894, -87.624', '41.831, -87.618', '41.779, -87.650', '41.746, -87.586', '41.893, -87.614', '41.95, -87.8', '41.962, -87.654', '41.81, -87.7', '41.877, -87.630', '41.889, -87.622', '41.887, -87.627', '41.953, -87.718', '41.881, -87.637', '41.893, -87.618', '42.07, -87.72', '41.885, -87.636', '41.885, -87.667', '41.744, -87.551', '41.889, -87.687', '41.79, -87.72', '41.879, -87.640', '41.866, -87.640', '41.877, -87.631', '41.713, -87.530', '41.961, -87.735', '41.954, -87.749', '41.68, -87.72', '41.889, -87.631', '41.802, -87.617', '41.935, -87.678', '41.7, -87.6', '41.79, -87.71', '41.877, -87.644', '41.95, -87.81', '41.78, -87.58', '41.885, -87.633', '41.901, -87.624', '41.8, -87.72', '41.926, -87.639', '41.876, -87.641', '41.920, -87.648', '41.947, -87.663', '41.82, -87.68', '41.76, -87.55', '41.93, -87.7', '41.808, -87.656', '41.890, -87.635', '41.936, -87.678', '41.885, -87.618', '41.94, -87.7', '41.87, -87.61', '41.89, -87.63', '41.84, -87.68', '41.885, -87.622', '41.66, -87.62', '41.903, -87.684', '41.78, -87.72', '41.76, -87.61', '41.768, -87.644', '41.878, -87.637', '41.88, -87.7', '41.903, -87.667', '41.877, -87.628', '41.856, -87.612', '41.921, -87.654', '41.898, -87.629', '41.66, -87.55', '41.889, -87.635', '41.69, -87.67', '41.887, -87.633', '41.73, -87.63', '41.853, -87.695', '41.853, -87.714', '41.873, -87.627', '41.885, -87.634', '41.791, -87.6', '41.925, -87.658', '41.897, -87.627', '41.97, -87.76', '41.891, -87.689', '41.82, -87.59', '41.969, -87.696', '41.885, -87.653', '41.85, -87.66', '41.929, -87.708', '42.050, -87.678', '41.879, -87.628', '41.955, -87.668', '41.893, -87.626', '41.71, -87.57', '41.884, -87.695', '41.98, -87.7', '42.0, -87.73', '41.963, -87.685', '41.968, -87.696', '41.892, -87.626', '41.983, -87.660', '41.67, -87.68', '41.889, -87.624', '41.76, -87.57', '41.886, -87.634', '41.687, -87.655', '41.877, -87.674', '41.891, -87.632', '41.795, -87.633', '41.897, -87.642', '41.78, -87.7', '41.83, -87.74', '41.898, -87.623', '41.91, -87.64', '41.877, -87.649', '41.954, -87.646', '41.895, -87.671', '41.887, -87.638', '41.874, -87.725', '41.911, -87.638', '41.9, -87.72', '41.960, -87.695', '41.81, -87.61', '41.913, -87.705', '41.79, -87.74', '41.9, -87.634', '41.891, -87.676', '41.877, -87.643', '41.932, -87.636', '42.06, -87.7', '41.878, -87.626', '41.83, -87.65', '41.71, -87.64', '41.88, -87.63', '41.889, -87.621', '41.93, -87.81', '41.909, -87.678', '41.910, -87.652', '41.890, -87.622', '41.897, -87.630', '41.897, -87.625', '41.68, -87.62', '41.897, -87.620', '41.948, -87.675', '42.01, -87.72', '41.922, -87.653', '41.76, -87.62', '41.877, -87.655', '41.899, -87.628', '41.878, -87.623', '41.78, -87.61', '41.884, -87.648', '41.885, -87.643', '41.89, -87.66', '41.884, -87.643', '41.898, -87.628', '41.871, -87.651', '41.872, -87.764', '41.8, -87.62', '41.773, -87.577', '41.901, -87.627', '41.912, -87.632', '41.894, -87.756', '41.885, -87.630', '41.68, -87.54', '41.78, -87.6', '41.882, -87.631', '41.97, -87.78', '41.758, -87.631', '41.88, -87.73', '41.883, -87.636', '41.858, -87.640', '41.885, -87.628', '41.962, -87.645', '41.887, -87.622', '41.854, -87.611', '41.889, -87.627', '41.880, -87.633', '41.994, -87.689', '41.72, -87.59', '41.759, -87.663', '41.885, -87.623', '41.895, -87.677', '41.73, -87.67', '41.853, -87.684', '41.877, -87.735', '41.940, -87.638', '42.008, -87.674', '41.878, -87.630', '41.86, -87.74', '41.81, -87.74', '41.883, -87.657', '41.737, -87.644', '41.704, -87.681', '41.74, -87.63', '41.891, -87.628', '41.766, -87.565', '41.805, -87.592', '41.925, -87.666', '41.72, -87.58', '41.857, -87.641', '41.799, -87.586', '41.869, -87.623', '41.922, -87.638', '41.932, -87.659', '41.940, -87.645', '41.87, -87.74', '42.07, -87.73', '41.907, -87.686', '41.68, -87.61', '41.965, -87.701', '41.96, -87.76', '41.67, -87.53', '41.898, -87.637', '41.897, -87.623', '41.896, -87.624', '41.73, -87.54', '41.894, -87.634', '41.969, -87.683', '41.841, -87.626', '41.891, -87.619', '41.884, -87.630', '41.93, -87.77', '41.83, -87.66', '41.924, -87.727', '41.91, -87.71', '41.93, -87.68', '41.886, -87.667', '41.911, -87.632', '41.712, -87.534', '41.881, -87.627', '41.68, -87.64', '41.885, -87.631', '41.86, -87.64', '41.867, -87.631', '41.886, -87.631', '41.916, -87.669', '41.718, -87.608', '42.008, -87.665', '41.881, -87.623', '41.965, -87.693', '41.95, -87.75', '41.883, -87.633', '41.788, -87.588', '41.871, -87.629', '41.867, -87.648', '41.891, -87.620', '41.878, -87.636', '41.931, -87.643', '41.99, -87.73', '41.880, -87.643', '41.918, -87.651', '41.826, -87.645', '41.895, -87.620', '41.871, -87.628', '41.895, -87.667', '41.877, -87.638', '41.881, -87.674', '41.882, -87.633', '42.0, -87.72', '41.74, -87.7', '41.894, -87.774', '41.94, -87.72', '41.89, -87.71', '41.92, -87.81', '41.878, -87.628', '41.75, -87.68', '41.952, -87.650', '41.893, -87.641', '41.849, -87.695', '42.019, -87.684', '41.882, -87.632', '41.943, -87.687', '41.68, -87.7', '41.780, -87.616', '41.9, -87.62', '41.949, -87.648', '41.953, -87.731', '41.946, -87.683', '41.95, -87.7', '41.924, -87.688', '41.886, -87.625', '41.91, -87.72', '41.900, -87.643', '41.893, -87.621', '41.719, -87.608', '41.736, -87.582', '41.910, -87.696', '41.766, -87.586', '41.907, -87.638', '41.936, -87.638', '41.887, -87.628', '41.799, -87.601', '41.76, -87.69', '42.05, -87.73', '41.98, -87.69', '41.73, -87.56', '41.890, -87.632', '41.892, -87.623', '41.955, -87.648', '41.916, -87.634', '41.75, -87.63', '41.888, -87.643', '41.880, -87.625', '41.913, -87.649', '41.886, -87.637', '42.02, -87.66', '41.935, -87.717', '41.904, -87.635', '41.84, -87.64', '41.890, -87.671', '41.823, -87.665', '41.97, -87.7', '41.895, -87.616', '41.92, -87.73', '41.93, -87.72', '41.751, -87.613', '41.99, -87.7', '41.894, -87.632', '41.929, -87.659', '41.95, -87.68', '41.931, -87.638', '41.929, -87.658', '41.95, -87.79', '41.868, -87.686', '41.903, -87.628', '41.86, -87.72', '41.900, -87.625', '41.893, -87.625', '41.876, -87.628', '41.79, -87.58', '41.76, -87.56', '41.879, -87.632', '41.77, -87.72', '41.79, -87.66', '41.895, -87.654', '41.918, -87.635', '41.891, -87.647', '41.888, -87.626', '42.08, -87.71', '41.691, -87.712', '41.897, -87.628', '41.881, -87.625', '41.874, -87.656', '41.882, -87.647', '42.004, -87.672', '41.929, -87.663', '41.88, -87.61', '41.765, -87.617', '41.921, -87.638', '41.838, -87.621', '41.910, -87.649', '41.902, -87.632', '41.882, -87.641', '41.87, -87.67', '41.936, -87.670', '42.06, -87.74', '41.92, -87.68', '41.844, -87.695', '41.943, -87.670', '41.77, -87.7', '41.874, -87.726', '41.84, -87.73', '42.012, -87.665', '41.880, -87.632', '41.889, -87.617', '41.841, -87.616', '41.861, -87.693', '41.899, -87.667', '41.757, -87.631', '41.871, -87.641', '41.879, -87.630', '41.894, -87.765', '41.902, -87.628', '41.878, -87.627', '41.939, -87.683', '41.92, -87.79', '41.885, -87.677', '41.886, -87.620', '41.83, -87.64', '41.937, -87.636', '41.903, -87.632', '41.94, -87.71', '41.79, -87.7', '41.786, -87.674', '41.883, -87.651', '41.942, -87.670', '41.84, -87.69', '41.890, -87.637', '41.849, -87.631', '41.884, -87.657', '41.78, -87.67', '41.866, -87.625', '41.88, -87.65', '41.73, -87.62', '41.902, -87.687', '41.885, -87.641', '41.87, -87.68', '41.886, -87.630', '41.81, -87.68', '41.79, -87.6', '41.944, -87.663', '41.891, -87.634', '41.779, -87.644', '42.04, -87.73', '41.96, -87.63', '41.705, -87.642', '41.85, -87.76', '41.893, -87.634', '41.72, -87.65', '41.880, -87.635', '41.886, -87.636', '41.799, -87.600', '41.924, -87.728', '41.884, -87.621', '41.66, -87.53', '41.914, -87.716', '41.886, -87.612', '41.761, -87.644', '41.88, -87.75', '41.871, -87.626', '41.883, -87.639', '41.917, -87.710', '41.891, -87.612', '41.881, -87.642', '41.794, -87.633', '41.854, -87.646', '41.975, -87.709', '41.922, -87.639', '41.780, -87.576', '41.73, -87.66', '41.893, -87.631', '41.96, -87.72', '41.891, -87.637', '41.831, -87.632', '41.866, -87.706', '41.943, -87.649', '41.779, -87.665', '41.886, -87.624', '41.858, -87.624', '41.99, -87.74', '41.68, -87.66', '41.843, -87.695', '41.891, -87.622', '41.885, -87.621', '41.79, -87.64', '41.94, -87.79', '41.918, -87.682', '41.85, -87.64', '41.96, -87.7', '41.878, -87.638', '41.914, -87.705', '41.897, -87.654', '41.899, -87.623', '41.892, -87.621', '41.73, -87.65', '41.94, -87.84', '41.879, -87.625', '41.876, -87.623', '41.884, -87.640', '41.718, -87.597', '41.872, -87.650', '41.895, -87.623', '41.81, -87.62', '41.87, -87.76', '41.69, -87.7', '41.910, -87.670', '41.894, -87.623', '41.91, -87.78', '41.883, -87.641', '41.884, -87.626', '41.892, -87.613', '41.884, -87.637', '41.786, -87.655', '41.728, -87.667', '42.03, -87.67', '41.802, -87.589', '41.879, -87.635', '41.8, -87.69', '41.858, -87.646', '41.7, -87.65', '41.990, -87.693', '41.85, -87.62', '41.893, -87.677', '41.907, -87.626', '41.87, -87.64', '41.881, -87.649', '41.857, -87.651', '41.79, -87.73', '41.923, -87.636', '42.02, -87.69', '41.912, -87.631', '41.882, -87.648', '41.883, -87.630', '41.949, -87.714', '41.867, -87.641', '41.894, -87.618', '41.81, -87.67', '41.66, -87.61', '41.765, -87.605', '41.93, -87.78', '41.96, -87.65', '41.871, -87.640', '41.92, -87.69', '41.895, -87.668', '42.018, -87.69', '41.893, -87.617', '41.900, -87.624', '41.895, -87.635', '41.961, -87.691', '41.77, -87.6', '41.888, -87.629', '41.91, -87.79', '41.887, -87.639', '41.896, -87.622', '41.879, -87.626', '41.898, -87.627', '41.71, -87.72', '41.875, -87.632', '41.873, -87.704', '41.85, -87.73', '41.862, -87.693', '41.903, -87.674', '41.879, -87.686', '41.933, -87.646', '41.886, -87.745', '41.899, -87.630', '41.867, -87.625', '41.67, -87.62', '41.877, -87.673', '41.878, -87.662', '41.887, -87.616', '41.885, -87.637', '41.864, -87.657', '41.918, -87.656', '41.878, -87.641', '41.791, -87.607', '41.86, -87.65', '41.904, -87.629', '41.940, -87.652', '41.94, -87.69', '41.894, -87.757', '41.81, -87.75', '41.909, -87.669', '41.886, -87.627', '41.921, -87.639', '41.93, -87.69', '41.864, -87.624', '41.704, -87.528', '41.926, -87.634', '41.931, -87.639', '41.956, -87.668', '41.870, -87.625', '41.768, -87.652', '41.887, -87.643', '41.816, -87.634', '41.894, -87.666', '41.8, -87.63', '41.728, -87.549', '41.885, -87.651', '42.0, -87.67', '41.875, -87.629', '41.926, -87.630', '41.966, -87.649', '41.854, -87.715', '41.895, -87.626', '41.877, -87.639', '41.86, -87.71', '41.894, -87.626', '41.896, -87.626', '41.802, -87.606', '41.894, -87.630', '41.899, -87.621', '41.869, -87.672', '41.892, -87.629', '41.86, -87.79', '41.877, -87.745', '41.74, -87.62', '41.89, -87.75', '41.853, -87.715', '41.67, -87.67', '41.887, -87.630', '41.881, -87.634', '41.906, -87.627', '41.765, -87.604', '41.890, -87.625', '41.883, -87.631', '41.729, -87.609', '41.890, -87.702', '41.881, -87.632', '41.899, -87.662', '41.874, -87.639', '41.879, -87.633', '41.98, -87.66', '41.961, -87.716', '41.894, -87.616', '41.928, -87.664', '41.86, -87.61', '41.884, -87.641', '41.872, -87.622', '41.876, -87.633', '41.880, -87.628', '42.06, -87.75', '41.834, -87.617', '41.869, -87.676', '41.888, -87.634', '41.896, -87.636', '41.876, -87.639', '41.879, -87.685', '41.68, -87.65', '41.823, -87.651', '41.921, -87.653', '41.911, -87.631', '41.88, -87.68', '41.880, -87.616', '41.87, -87.65', '42.004, -87.680', '41.71, -87.71', '41.83, -87.75', '41.892, -87.625', '41.883, -87.654', '41.911, -87.653', '41.943, -87.679', '41.891, -87.611', '41.872, -87.669', '41.8, -87.6', '41.87, -87.62', '41.871, -87.670', '41.871, -87.646', '41.884, -87.614', '41.968, -87.650', '41.98, -87.76', '41.893, -87.622', '41.895, -87.633', '41.96, -87.68', '41.932, -87.653', '41.87, -87.7', '41.903, -87.631', '41.71, -87.69', '41.883, -87.621', '41.872, -87.623', '41.876, -87.632', '41.893, -87.630', '41.88, -87.69', '41.85, -87.69', '41.916, -87.666', '41.77, -87.74', '41.967, -87.65', '42.016, -87.674', '41.822, -87.626', '41.888, -87.641', '41.88, -87.72', '41.899, -87.620', '41.938, -87.697', '41.936, -87.647', '42.07, -87.7', '41.65, -87.72', '41.84, -87.62', '41.907, -87.672', '41.95, -87.78', '41.891, -87.617', '41.78, -87.64', '41.66, -87.56', '42.01, -87.66', '41.880, -87.631', '41.780, -87.585', '41.872, -87.634', '41.890, -87.619', '41.895, -87.764', '41.880, -87.727', '41.871, -87.624', '41.884, -87.628', '41.758, -87.586', '41.896, -87.667', '41.94, -87.653', '41.83, -87.72', '41.9, -87.63', '41.882, -87.630', '41.910, -87.653', '41.885, -87.652', '41.887, -87.631', '41.89, -87.67', '41.877, -87.662', '41.873, -87.639', '41.865, -87.647', '42.001, -87.688', '41.916, -87.710', '41.925, -87.653', '41.894, -87.627', '41.95, -87.64', '41.886, -87.632', '41.918, -87.641', '41.881, -87.624', '41.898, -87.636', '41.93, -87.67', '41.893, -87.623', '41.873, -87.630', '41.82, -87.73', '41.973, -87.660', '41.887, -87.618', '41.870, -87.630', '41.880, -87.630', '41.896, -87.668', '41.69, -87.64', '41.899, -87.624', '41.880, -87.639', '41.915, -87.668', '41.961, -87.655', '41.74, -87.55', '41.883, -87.627', '41.888, -87.638', '41.830, -87.626', '41.77, -87.67', '41.684, -87.670', '41.89, -87.634', '41.94, -87.63', '41.834, -87.631', '41.85, -87.7', '41.788, -87.600', '41.67, -87.63', '41.896, -87.660', '41.877, -87.627', '41.892, -87.614', '41.885, -87.735', '41.757, -87.575', '41.915, -87.686', '42.02, -87.68', '41.872, -87.629', '41.838, -87.635', '41.94, -87.67', '41.953, -87.664', '41.66, -87.63', '41.865, -87.618', '41.97, -87.64', '41.871, -87.67', '41.885, -87.626', '41.854, -87.619', '41.961, -87.705', '41.883, -87.628', '41.883, -87.625', '41.71, -87.58', '41.903, -87.634', '41.857, -87.619', '41.893, -87.613', '41.889, -87.636', '41.81, -87.65', '41.889, -87.680', '41.918, -87.636', '41.884, -87.625', '41.889, -87.618', '41.830, -87.608', '41.902, -87.637', '41.920, -87.649', '41.77, -87.56', '41.876, -87.624', '41.888, -87.617', '41.902, -87.697', '41.83, -87.67', '41.780, -87.629', '41.903, -87.637', '41.94, -87.82', '41.889, -87.639', '41.869, -87.620', '41.89, -87.72', '41.865, -87.607', '41.896, -87.627', '41.895, -87.621', '41.64, -87.69', '41.765, -87.616', '41.874, -87.649', '41.885, -87.632', '41.877, -87.629', '41.889, -87.620', '41.891, -87.616', '41.88, -87.76', '41.910, -87.689', '41.814, -87.592', '41.894, -87.653', '41.86, -87.77', '41.792, -87.644', '41.960, -87.705', '41.65, -87.71', '41.882, -87.629', '41.73, -87.68', '41.892, -87.615', '41.91, -87.8', '41.91, -87.74', '41.7, -87.64', '41.854, -87.618', '41.880, -87.641', '41.7, -87.74', '41.875, -87.630', '41.752, -87.663', '41.97, -87.73', '41.969, -87.654', '41.925, -87.638', '41.872, -87.633', '41.758, -87.614', '41.737, -87.572', '41.867, -87.632', '41.84, -87.7', '41.744, -87.599', '41.961, -87.649', '41.82, -87.72', '41.707, -87.607', '41.871, -87.625', '41.880, -87.636', '41.81, -87.71', '41.897, -87.631', '41.830, -87.647', '41.886, -87.642', '41.890, -87.628', '41.94, -87.66', '41.884, -87.634', '41.883, -87.617', '41.931, -87.701', '41.939, -87.664', '41.878, -87.643', '41.691, -87.609', '41.830, -87.627', '41.7, -87.52', '41.866, -87.684', '41.871, -87.623', '41.918, -87.657', '41.78, -87.73', '41.78, -87.71', '42.01, -87.71', '41.878, -87.640', '41.84, -87.63', '42.07, -87.71', '41.878, -87.632', '41.853, -87.618', '41.69, -87.74', '41.712, -87.535', '41.884, -87.624', '41.878, -87.642', '41.96, -87.73', '41.892, -87.618', '41.95, -87.71', '41.92, -87.72', '41.823, -87.626', '41.699, -87.669', '41.8, -87.73', '41.894, -87.617', '41.93, -87.8', '41.954, -87.719', '41.65, -87.56', '41.78, -87.74', '41.8, -87.67', '41.954, -87.664', '41.903, -87.635', '41.888, -87.627', '41.857, -87.640', '41.930, -87.644', '41.872, -87.628', '41.891, -87.648', '41.977, -87.668', '41.904, -87.634', '41.876, -87.631', '41.906, -87.667', '41.9, -87.73', '41.65, -87.62', '41.946, -87.730', '41.823, -87.676', '41.882, -87.626', '41.865, -87.656', '41.880, -87.763', '41.74, -87.68', '41.744, -87.598', '41.975, -87.679', '41.769, -87.653', '41.885, -87.639', '41.966, -87.688', '41.961, -87.676', '41.907, -87.685', '42.013, -87.665', '41.911, -87.635', '41.882, -87.635', '41.768, -87.653', '41.909, -87.705', '41.885, -87.676', '41.901, -87.629', '41.82, -87.71', '41.888, -87.628', '41.897, -87.629', '41.903, -87.627', '41.890, -87.638', '41.943, -87.671', '41.899, -87.643', '41.932, -87.701', '41.953, -87.654', '41.82, -87.6', '41.887, -87.642', '41.83, -87.73', '41.894, -87.631', '41.71, -87.55', '41.893, -87.620', '41.874, -87.673', '41.892, -87.617', '41.830, -87.632', '41.841, -87.685', '41.7, -87.56', '41.72, -87.62', '41.878, -87.631', '41.808, -87.677', '41.894, -87.651', '41.870, -87.622', '41.974, -87.659', '41.96, -87.79', '41.888, -87.620', '41.876, -87.643', '41.938, -87.698', '41.75, -87.6', '41.888, -87.625', '41.72, -87.6', '41.93, -87.79', '41.84, -87.72', '41.801, -87.586', '41.842, -87.617', '41.882, -87.661', '41.74, -87.72', 

In [47]:
print(len(df), len(df_lat_lng))

5136261 5136261

In [151]:
geo_loc = Nominatim(user_agent="GetLoc")

In [39]:
loc_list = []

# Get location with geocode
# calling the nominatim tool
geo_loc = Nominatim(user_agent="GetLoc")
geo_loc.geocode(Latitude+","+Longitude)
# geo_loc.geocode(df['start_lat'][1].astype(str)[:10]+","+df['start_lng'][1].astype(str)[:11])

Location(CVS Pharmacy, 3637, North Southport Avenue, Wrigleyville, Lake View, Chicago, Lake View Township, Cook County, Illinois, 60613, United States, (41.948237, -87.66368319241383, 0.0))

In [98]:
geo_loc.geocode('41.87, -87.63')

Location(960-996, South Park Terrace, Dearborn Park, Loop, Chicago, Cook County, Illinois, 60605, United States, (41.870180399999995, -87.63028242517899, 0.0))

In [ ]:
loc_list = []
# 1913 - 
for i in range(len(df_lat_lng)):
#     zip_code = geo_loc.geocode(df_lat_lng['lat_lng'][i]).address[-20:-15]
    zip_code = geo_loc.geocode(df_lat_lng['lat_lng'][i]).address
    loc_list.append(zip_code)

In [99]:
loc_list = []
# 1913 - 
for i in range(len(df_lat_lng)):
#     zip_code = geo_loc.geocode(df_lat_lng['lat_lng'][i]).address[-20:-15]
    zip_code = geo_loc.geocode(df_lat_lng['lat_lng'][i]).address
    loc_list.append(zip_code)

GeocoderUnavailable: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=41.830115%2C+-87.670379&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

1412

In [ ]:
zip_code = []

# Find the zip code position in the address
for i in range(len(df_err_dict['crr_add'])):
    if re.search('.60', df_err_dict['crr_add'][i]) != None:
        
        # Find the zip code position in the address
#         print(re.search('.60', df_err_dict['crr_add'][i]).span())
        
        # Extract start and end position
        start = re.search('.60', df_err_dict['crr_add'][i]).span()[0]+1 # start
        end = re.search('.60', df_err_dict['crr_add'][i]).span()[1]+3 # end
        
        zip_code.append(df_err_dict['crr_add'][i][start:end])

zip_code

In [ ]:
crr_add = ['Ravenswood Ave & Lawrence Ave, Chicago, IL 60640, United States',
 '12303 S Ashland Ave, Calumet Park, IL 60827, United States',
 'Uptown, Chicago, IL 60613, United States',
 '11251-11249 S Ave B, Chicago, IL 60617, United States',
 '1736 S Michigan Ave, Chicago, IL 60616, United States',
 '2000-2018 W Sunnyside Ave, Chicago, IL 60625, USA',
 'Douglas, Chicago, IL 60616, USA',
 '301 E Cermak Rd, Chicago, IL 60616, USA',
 '12 E Cermak Rd, Chicago, IL 60616, USA',
 'Major Taylor Trail & 115th St, Chicago, IL 60643, United States',
 '10729 S Ave F, Chicago, IL 60617, USA',
 'Parking lot, Chicago, IL 60616, USA']

In [ ]:
df_lat_lng1 = df_lat_lng[:802]
df_lat_lng2 = df_lat_lng[802:1605]
df_lat_lng3 = df_lat_lng[1605:]

print(len(df_lat_lng1),
      len(df_lat_lng2),
      len(df_lat_lng3)
     )

# calling the nominatim tool
geo_loc = Nominatim(user_agent="GetLoc")

loc_list1 = []
loc_list2 = []
loc_list3 = []

# As df_lat_lng1 start from 0, I don't need to set the range specifically
for i in range(len(df_lat_lng1)):
    zip_code = geo_loc.geocode(df_lat_lng1['lat_lng_short'][i]).address
    loc_list1.append(zip_code)
print('df_lat_lng1 - Done')

# Set the range as df_lat_lng2 starts from 802 and ends at 1604
for j in range(df_lat_lng2['lat_lng_short'].index.start, df_lat_lng2['lat_lng_short'].index.stop):
    zip_code = geo_loc.geocode(df_lat_lng2['lat_lng_short'][j]).address
    loc_list2.append(zip_code)
print('df_lat_lng2 - Done')

# Set the range as df_lat_lng3 starts from 1605 and ends at 2404
for k in range(df_lat_lng3['lat_lng_short'].index.start, df_lat_lng3['lat_lng_short'].index.stop):
    zip_code = geo_loc.geocode(df_lat_lng3['lat_lng_short'][k]).address
    loc_list3.append(zip_code)
print('df_lat_lng3 - Done')

In [ ]:
wr_dict_new_add = ['Ravenswood Ave & Lawrence Ave, Chicago, IL 60640, United States',
                   '12303 S Ashland Ave, Calumet Park, IL 60827, USA',
 'Uptown, Chicago, IL 60613, USA',
 '11251-11249 S Ave B, Chicago, IL 60617, USA',
 '2000-2018 W Sunnyside Ave, Chicago, IL 60625, USA',
                   'West Town, Chicago, IL 60651, USA',
 '3155 S Lake Shore Dr, Chicago, IL 60616, United States',
 'Parking lot, Chicago, IL 60605, USA',
 '4705 N Damen Ave, Chicago, IL 60625, USA',
 '4108 N Lincoln Ave, Chicago, IL 60618, USA',
 '301 E Cermak Rd, Chicago, IL 60616, USA',
 'Millennium Park, Chicago, IL 60601, USA',
 '12 E Cermak Rd, Chicago, IL 60616, USA',
 'MLK Jr Dr & 56th St, Chicago, IL 60612, United States',
 'Parking lot, Chicago, IL 60605, USA',
                   'Major Taylor Trail & 115th St, Chicago, IL 60643, USA',
                   'Smith Park, Chicago, IL 60612, USA',
 '2130 S Wentworth Ave, Chicago, IL 60616, USA',
 '11251-11249 S Ave B, Chicago, IL 60617, USA',
 '10733 S Ave F, Chicago, IL 60617, USA',
 'Armour Square, Chicago, IL 60616, USA',
 'E 47th St, Chicago, IL 60653, USA',
                   'Smith Park, Chicago, IL 60612, USA',
 '72 W Monroe St, Chicago, IL 60603, United States',
 '5410 N Damen Ave, Chicago, IL 60625, USA',
 '3050 Moe Dr, Chicago, IL 60616, USA',
 'Baseball Junior/Softball, Chicago, IL 60615, USA',
 'Bronzeville, Chicago, IL 60653, USA',
 'State St & 95th St, Chicago, IL 60619, United States',
 '5074 S Calumet Ave, Chicago, IL 60612, USA',
 'Chicago, IL 60616, United States',
 'East Side, Chicago, IL 60617, USA',
 '100 W Randolph St 2nd fl, Chicago, IL 60601, United States',
                   '2910 W Ferdinand St, Chicago, IL 60612, USA',
 '1736 S Michigan Ave, Chicago, IL 60616, USA',
 '4802 N Ravenswood Ave, Chicago, IL 60612, USA',
                   'Parking lot, Chicago, IL 60605, USA',
 'Chicago, IL 60640, United States',
 'Dan Ryan Woods Trails, Chicago, IL 60620, USA',
 '2150 W Lawrence Ave, Chicago, IL 60625, USA',
 'Damen Ave & Leland Ave, Chicago, IL 60625, United States',
 'Chicago, IL 60605, United States',
 'McCormick Place, Chicago, IL 60616, United States',
 'Wells St & 19th St, Chicago, IL 60616, United States',
 '11251-11249 S Ave B, Chicago, IL 60617, USA',
 '11251-11249 S Ave B, Chicago, IL 60617, USA',
 'Lincoln Ave & Sunnyside Ave, Chicago, IL 60625, United States',
 '1719 S Clinton St, Chicago, IL 60616, USA',
 'Museum Campus, Chicago, IL 60605, USA',
 'Parking lot, Chicago, IL 60616, USA',
 'Chicago, IL 60633, United States',
 '338 E 51st St, Chicago, IL 60615, USA',
 'S Wolf Lake Blvd, Chicago, IL 60633, United States',
 'Chicago, IL 60633, United States',
 '5420-5400 N Hoyne Ave, Chicago, IL 60625, USA',
 '1400-1414 Michigan Ave, Chicago, IL 60605, USA',
 'Chicago, IL 60633, USA']